{% extends 'admin-main.html' %}

{% block content %}

{% load static %}

<div class="dashboard">
	<div class="container-fluid">
		<div class="content-area">
			<div class="dashboard-content">
				<div class="dashboard-header clearfix">
					<div class="row">
						<div class="col-md-6 col-sm-12">
							<h4>My Profile</h4>
						</div>
						<div class="col-md-6 col-sm-12">
							<div class="breadcrumb-nav">
								<ul>
									<li><a href="{% url 'dashboard' %}">Dashboard</a></li>
									<li class="active">Submit Property</li>
								</ul>
							</div>
						</div>
						
					</div>
				</div>
				<div class="row">
					<div class="column col-lg-12">
						<div class="properties-box">
							<div class="inner-container">
								<div class="title">
									<h3>Profile Details</h3>
								</div>
								{% if messages %}
								<div class="alert message" role="alert">
									{% for message in messages %}
									<button type="button" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true">×</span></button>
									<strong>
										<li class="{{ message.tags }}">{{ message }}</li>
									</strong>
									{% endfor %}
								</div>
								{% endif %}
								
								
								<div class="profile-form">
									<div class="row">
										<div class="col-lg-4 col-md-12 col-sm-12">
											<!-- Edit profile photo -->
											<div class="edit-profile-photo">

												{% if user.profile.image %}
												<img src="{{ user.profile.image.url }}" alt="avatar" class="thumb">
												{% else %}
												<img src="{% static 'assets/images/resource/default_user.png' %}"
													alt="avatar" class="thumb">
												{% endif %}

											</div>
										</div>

										<div class="col-lg-8 col-md-12 col-sm-12">
											<form method="post" enctype="multipart/form-data">
												{% csrf_token %}
												<div class="row">
													<!-- Form Group -->
													{% for field in user_form %}
													<div class="form-group col-lg-6 col-md-6 col-sm-12">
														<label>{{field.label}}</label>
														{{ field }}
													</div>
													{% endfor %}

													{% for field in user_profile_form %}
													<div class="form-group col-lg-6 col-md-6 col-sm-12">
														<label>{{field.label}}</label>
														{{ field }}
													</div>
													{% endfor %}

													<!-- Form Group -->
													<div class="form-group text-right col-lg-12 col-md-12 col-sm-12">
														<button type="submit" class="theme-btn btn-style-one">Update
															Profile</button>
													</div>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="column col-lg-6 col-md-12">
						<div class="properties-box">
							<div class="inner-container">
								<div class="title">
									<h3>Change Password</h3>
								</div>
								<div class="profile-form">
									<form method="post" action="http://expert-themes.com/html/willies/admin/index.html">
										<div class="row">
											<!-- Form Group -->
											<div class="form-group col-lg-12">
												<label>Current Password</label>
												<input type="text" name="name" placeholder="Current Password" required>
											</div>

											<!-- Form Group -->
											<div class="form-group col-lg-12">
												<label>New Password</label>
												<input type="text" name="title" placeholder="New Password" required>
											</div>

											<!-- Form Group -->
											<div class="form-group col-lg-12">
												<label>Confirm New Password</label>
												<input type="text" name="phone" placeholder="Confirm New Password"
													required>
											</div>

											<!-- Form Group -->
											<div class="form-group col-lg-12">
												<button type="submit" class="theme-btn btn-style-one">Update
													Password</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>

					<div class="column col-lg-6 col-md-12">
						<div class="properties-box">
							<div class="inner-container">
								<div class="title">
									<h3>Socials Links</h3>
								</div>
								<div class="profile-form">
									<form method="post" action="http://expert-themes.com/html/willies/admin/index.html">
										<div class="row">
											<!-- Form Group -->
											<div class="form-group col-lg-12">
												<label><i class="la la-facebook"></i>Facebook</label>
												<input type="text" name="name" placeholder="Facebook" required>
											</div>

											<!-- Form Group -->
											<div class="form-group col-lg-12">
												<label><i class="la la-twitter"></i>Twitter</label>
												<input type="text" name="name" placeholder="Twitter" required>
											</div>

											<!-- Form Group -->
											<div class="form-group col-lg-12">
												<label><i class="la la-instagram"></i>Instagram</label>
												<input type="text" name="name" placeholder="Instagram" required>
											</div>

											<!-- Form Group -->
											<div class="form-group col-lg-12">
												<button type="submit" class="theme-btn btn-style-one">Save
													Changes</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

{% endblock %}