{% extends 'admin-main.html' %}

{% block content %}

{% load static %}

<div class="dashboard">
	<div class="container-fluid">
		<div class="content-area">
			<div class="dashboard-content">
				<div class="dashboard-header clearfix">
					<div class="row">
						<div class="col-md-6 col-sm-12">
							<h4>Submit Property</h4>
						</div>
						<div class="col-md-6 col-sm-12">
							<div class="breadcrumb-nav">
								<ul>
									<li><a href="{% url 'dashboard' %}">Dashboard</a></li>
									<li class="active">Submit Property</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="column col-lg-12">
						<div class="properties-box">
							<div class="inner-container">
								<div class="property-submit-form">
									<form method="post">
										<div class="title">
											<h3>Basic Info</h3>
										</div>
										<div class="row">
											<!-- Form Group -->
											<div class="form-group col-lg-3 col-md-6 col-sm-12">
												<label>Property Title</label>
												<input type="text" name="title" placeholder="Property Title" required>
											</div>

											<!-- Form Group -->
											<div class="form-group col-lg-3 col-md-6 col-sm-12">
												<label>Property Rent</label>
												<input type="number" name="rent" placeholder="ksh 0.00" required>
											</div>

											<!-- Form Group -->
											<!-- <div class="form-group col-lg-3 col-md-6 col-sm-12">
												<label>country</label>
												<select class="custom-select-box">
													<option>Country</option>
													<option>California</option>
													<option>Florida</option>
													<option>Georgia</option>
													<option>New York</option>
													<option>Texas</option>
												</select>
											</div> -->

											<!-- Form Group -->
											<div class="form-group col-lg-3 col-md-6 col-sm-12">
												<label>Status</label>
												<select class="custom-select-box">
													<option value="rent">Rent</option>
													<option value="Sale">Sale</option>
												</select>
											</div>

											<!-- Form Group -->
											<div class="form-group col-lg-3 col-md-6 col-sm-12">
												<div class="range-slider-one clearfix">
													<label>Area</label>
													<input type="text" name="size" placeholder="m²" required>
												</div>
											</div>

											<!-- Form Group -->
											<div class="form-group col-lg-3 col-md-6 col-sm-12">
												<div class="range-slider-one clearfix">
													<label>Garage</label>
													<select class="custom-select-box" name="garage">
														<option>Garage</option>
														<option value="1">01 Garage</option>
														<option value="2">02 Garage</option>
														<option value="3">03 Garage</option>
														<option value="4">04 Garage</option>
														<option value="5">05 Garage</option>
													</select>
												</div>
											</div>

											<!-- Form Group -->
											<div class="form-group col-lg-3 col-md-6 col-sm-12">
												<div class="range-slider-one clearfix">
													<label>Bed Room</label>
													<select class="custom-select-box" name="bedroom">
														<option>Bed Room</option>
														<option value="1">01 Bed Room</option>
														<option value="2">02 Bed Room</option>
														<option value="3">03 Bed Room</option>
														<option value="4">04 Bed Room</option>
														<option value="5">05 Bed Room</option>
													</select>
												</div>
											</div>

											<!-- Form Group -->
											<div class="form-group col-lg-3 col-md-6 col-sm-12">
												<div class="range-slider-one clearfix">
													<label>Bathroom</label>
													<select class="custom-select-box" name="bathroom">
														<option>Bathroom</option>
														<option value="1">01 Bathroom</option>
														<option value="2">02 Bathroom</option>
														<option value="3">03 Bathroom</option>
														<option value="4">04 Bathroom</option>
														<option value="5">05 Bathroom</option>
													</select>
												</div>
											</div>
										</div>

										<div class="title">
											<h3>Address</h3>
										</div>
										<div class="row">

											<!-- Form Group -->
											<div class="form-group col-lg-3 col-md-6 col-sm-12">
												<label>Location</label>
												<select class="custom-select-box">
													<option>Location</option>
													{% for location in locations %}
													<option value="location">{{location.name}}</option>
													{% endfor %}
												
												</select>
											</div>

										</div>

										<div class="title">
											<h3>Property Gallery</h3>
										</div>
										<div class="row">
											<!-- Form Group -->
											<div class="form-group ">
												<div id="myDropZone" class="dropzone dropzone-design">
													<div type="file" name="imageOne" class="dz-default dz-message"><span>Drop files here to
															upload</span></div>
												</div>
											</div>

											<!-- Form Group -->
											<!-- <div class="form-group col-lg-3 col-md-6 col-sm-12">
												<div id="myDropZone" class="dropzone dropzone-design">
													<div type="file" name="imageTwo" class="dz-default dz-message"><span>Drop files here to
															upload</span></div>
												</div>
											</div> -->

											<!-- Form Group -->
											<!-- <div class="form-group col-lg-3 col-md-6 col-sm-12">
												<div id="myDropZone" class="dropzone dropzone-design">
													<div type="file" name="imageThree" class="dz-default dz-message"><span>Drop files here to
															upload</span></div>
												</div>
											</div> -->

											<!-- Form Group -->
											<!-- <div class="form-group col-lg-3 col-md-6 col-sm-12">
												<div id="myDropZone" class="dropzone dropzone-design">
													<div type="file" name="imageFour" class="dz-default dz-message"><span>Drop files here to
															upload</span></div>
												</div>
											</div> -->

											<!-- Form Group -->
											<!-- <div class="form-group col-lg-3 col-md-6 col-sm-12">
												<div id="myDropZone" class="dropzone dropzone-design">
													<div type="file" name="imageFive" class="dz-default dz-message"><span>Drop files here to
															upload</span></div>
												</div>
											</div> -->
										</div>

										<div class="title">
											<h3>Detailed Information</h3>
										</div>
										<div class="row">
											<!-- Form Group -->
											<div class="form-group col-lg-12">
												<textarea name="description" placeholder="Detailed Information"></textarea>
											</div>
										</div>

										<div class="title">
											<h3>Features (optional)</h3>
										</div>
										<div class="row">
											<div class="form-group col-lg-3 col-md-6 col-sm-12 ">
												<div class="check-box">
													<input type="checkbox" name="alarm_security" id="service-1">
													<label for="service-1">Alarm System</label>
												</div>
											</div>

											<div class="form-group col-lg-3 col-md-6 col-sm-12 ">
												<div class="check-box">
													<input type="checkbox" name="basketball" id="service-2">
													<label for="service-2">BasketBall Court</label>
												</div>
											</div>

											<div class="form-group col-lg-3 col-md-6 col-sm-12 ">
												<div class="check-box">
													<input type="checkbox" name="gated_community" id="service-3">
													<label for="service-3">Gated Community</label>
												</div>
											</div>

											<div class="form-group col-lg-3 col-md-6 col-sm-12 ">
												<div class="check-box">
													<input type="checkbox" name="garden" id="service-4">
													<label for="service-4">Garden</label>
												</div>
											</div>

											<div class="form-group col-lg-3 col-md-6 col-sm-12 ">
												<div class="check-box">
													<input type="checkbox" name="gym" id="service-5">
													<label for="service-5">Gym</label>
												</div>
											</div>

											<div class="form-group col-lg-3 col-md-6 col-sm-12 ">
												<div class="check-box">
													<input type="checkbox" name="swimming_pool" id="service-6">
													<label for="service-6">Swimming Pool</label>
												</div>
											</div>

											<div class="form-group col-lg-3 col-md-6 col-sm-12 ">
												<div class="check-box">
													<input type="checkbox" name="own_compound" id="service-7">
													<label for="service-7">Own Compound</label>
												</div>
											</div>

										</div>

										<div class="title">
											<h3>Contact Info</h3>
										</div>
										<div class="row justify-content-center">
											<!-- Form Group -->
											<div class="form-group col-lg-3 col-md-6 col-sm-12">
												<button type="submit" class="theme-btn btn-style-one"> Submit
													Property</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

{% endblock %}