{% extends 'admin-main.html' %}

{% block content %}

{% load static %}

<div class="dashboard">
	<div class="container-fluid">
		<div class="content-area">
			<div class="dashboard-content">
				<div class="dashboard-header clearfix">
					<div class="row">
						<div class="col-md-6 col-sm-12">
							<h4>Submit Property</h4>
						</div>
						<div class="col-md-6 col-sm-12">
							<div class="breadcrumb-nav">
								<ul>
									<li><a href="{% url 'dashboard' %}">Dashboard</a></li>
									<li class="active">Submit Property</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="column col-lg-12">
						<div class="properties-box">
							<div class="inner-container">
								<div class="property-submit-form">
									<form method="post"  enctype="multipart/form-data">
										{% csrf_token %}
										<div class="title">
											<h3>Property Infomation</h3>
										</div>
										<div class="row">

											{% for fields in form %}
											<div class="form-group col-lg-3 col-md-6 col-sm-12">
												<label>{{fields.label}}</label>
												<!-- <input type="text" name="title" placeholder="Property Title" required> -->
												{{fields}}
											</div>
											{% endfor %}
										</div>
										<div class="row justify-content-center">
											<!-- Form Group -->
											<div class="form-group col-lg-3 col-md-6 col-sm-12">
												<button type="submit" class="theme-btn btn-style-one"> Submit
													Property</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>

{% endblock %}