{% load static %}

<style>
    .footer-image {
        width: 150px !important;
        height: 70px !important;
        object-fit: cover !important;
        position: center !important;
    }    
</style>
<!-- Main Footer -->
<footer class="main-footer bg-dark">
    <div class="auto-container">
        <div class="upper-box">
            <div class="row">
                <!-- Upper column -->
                <div class="upper-column col-lg-3 col-md-12 col-sm-12">
                    <div class="footer-logo">
                        <!-- <figure class="image">
                            <a href="{% url 'home' %}">
                                <img src="{% static 'assets/logo/pinhouse.png' %}" width="150px" height="50px"  alt="pinhouse logo">
                            </a>
                        </figure> -->
                    </div>
                </div>

                <!-- Upper column -->
                <div class="upper-column col-lg-6 col-md-12 col-sm-12">
                    <div class="subscribe-form">
                        <form method="post" action="http://expert-themes.com/html/willies/blog.html">
                            <div class="form-group">
                                <input type="email" name="email" value="" placeholder="Enter Your Email" required="">
                                <button type="submit" class="theme-btn btn-style-four">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- Upper column -->
                <div class="upper-column col-lg-3 col-md-12 col-sm-12">
                    <div class="social-links">
                        <ul class="social-icon-two">
                            <li><a href="#"><i class="la la-facebook"></i></a></li>
                            <li><a href="#"><i class="la la-twitter"></i></a></li>
                            <li><a href="#"><i class="la la-google-plus"></i></a></li>
                            <li><a href="#"><i class="la la-dribbble"></i></a></li>
                            <li><a href="#"><i class="la la-pinterest-p"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!--Widgets Section-->
        <div class="widgets-section">
            <div class="row">
                <!--Big Column-->
                <div class="big-column col-xl-6 col-lg-12 col-md-12 col-sm-12">
                    <div class="row">
                        <!--Footer Column-->
                        <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget contact-widget">
                                <h2 class="widget-title">Get in Touch</h2>
                                <div class="widget-content">
                                    <ul class="contact-list">
                                        <li><span class="la la-map-marker"></span> Barng'etuny Plaza, <br>Eldoret, Kenya.</li>
                                        <li><span class="la la-phone"></span>
                                            <a href="tel:+254720841555">+254720841555</a>
                                        </li>
                                        <li><span class="la la-envelope"></span><a href="mailto:pinhouseventures@gmail.com">pinhouseventures@gmail.com</a></li>
                                    </ul>
                                    
                                        <a href="{% url 'home' %}">
                                            <img class="footer-image" src="{% static 'assets/logo/pinhouse.png' %}"   alt="pinhouse logo">
                                         </a>
                                    
                                </div>
                            </div>
                        </div>
                        
                        <!--Footer Column-->
                        <div class="footer-column col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget cities-widget">
                                <h2 class="widget-title">PROPERTY CITIES</h2>
                                <div class="widget-content">
                                    <ul class="list clearfix">
                                        {% for property in properties.all|slice:"5"  %}
                                        <li><a href="properties.html">{{property.location}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>         
                    </div>
                </div>

                <!--Big Column-->
                <div class="big-column col-xl-6 col-lg-12 col-md-12 col-sm-12">
                    <div class="row clearfix">
                        <div class="footer-column col-xl-8 col-lg-6 col-md-6 col-sm-12">
                            <!--Footer Column-->
                            <div class="footer-widget popular-posts">
                                <h2 class="widget-title">Popular Posts</h2>
                                 <!--Footer Column-->
                                <div class="widget-content">
                                    {% for blog in blogs.all|slice:"3" %}
                                    <div class="post">
                                        <div class="thumb"><a href="blog-detail.html"><img src="{{blog.image.url}}" alt=""></a></div>
                                        <h4><a href="blog-detail.html">{{blog.title}}</a></h4>
                                        <span class="date">{{blog.created_at|timesince}}</span>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <!--Footer Column-->
                        <div class="footer-column col-xl-4 col-lg-6 col-md-6 col-sm-12">
                            <div class="footer-widget links-widget">
                                <h2 class="widget-title">USEFUL LINKS</h2>
                                <div class="widget-content">
                                    <ul class="list clearfix">
                                        <li><a href="#">Rental Builidngs</a></li>
                                        <li><a href="#">Browe all Categories</a></li>
                                        <li><a href="#">Mortagages Rates</a></li>
                                        <li><a href="#">Terms of use</a></li>
                                        <li><a href="#">Privacy Policy</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!--Footer Bottom-->
    <div class="footer-bottom">
        <div class="auto-container">
            <!--Scroll to top-->
            <div class="scroll-to-top scroll-to-target" data-target="html"><span class="la la-angle-double-up"></span></div>

            <div class="inner-container clearfix">
                <div class="footer-nav">
                    <ul class="clearfix">
                       <li><a href="{% url 'home' %}">Home</a></li> 
                       <li><a href="{% url 'listings' %}">Properties</a></li> 
                       <!-- <li><a href="properties.html">Agencies</a></li>  -->
                       <li><a href="{% url 'agents' %}">Agent</a></li> 
                       <li><a href="{% url 'blogs' %}">Blogs</a></li> 
                       <li><a href="{% url 'contact' %}">Contact</a></li> 
                    </ul>
                </div>
                                                                  
                <div class="copyright-text">
                    <p><a target="_blank" href="https://nelsoneltech.co.ke">NelsonelTech Solutions</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Main Footer -->