{% extends 'main.html' %}

{% block content %}

{% load static %}

 <!--Page Title-->
 <section class="page-title" style="background-image:url({% static 'assets/images/background/16.jpg' %});">
    <div class="auto-container">
        <div class="inner-container clearfix">
            <h1>Agent Detail</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="index-2.html">Home</a></li>
                <li>Agent Detail</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->

<!-- Agent Detail -->
<section class="agent-detail">
    <div class="auto-container">
        <div class="row">
            <div class="image-column col-lg-4 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="image-box">
                        <figure class="image"><img src="{% static 'assets/images/resource/agent.jpg' %}" alt=""></figure>
                    </div>
                </div>
            </div>

            <div class="content-column col-lg-8 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="about-agent">
                        <h3 class="name">Badoy ghaly</h3>
                        <span class="designation">Real Estate Agent</span>
                        <div class="text">
                            <p>Jone Michal is a Certified Residential Specialist with over 10 years experience of helping local resients sell homes. He achieved success due to his commitment to the enhancement.</p>
                            <p>A billion and trillion decipherment dream of the mind’s eye preserve and cherish that pale blue dot, colonies globular star cluster shores of the cosmic ocean billions upon billions, Euclid, a very small stage in a vast cosmic arena! Cosmic ocean Euclid culture? Rich in heavy atoms Cambrian explosion rich in heavy atoms, two ghostly white figures in hamer coveralls and helmets are soflty dancing.</p>
                            <p>The process of content marketing entails selecting and delivering useful information to customers to establish credibility. Surprisingly, this general description and other content marketing practices can also be applied to the work of a real estate agent. Content marketing is a multi-step process, </p>
                        </div>
                        <div class="contact-info">
                            <div class="row">
                                <div class="column col-xl-4 col-lg-12 col-md-12 col-sm-12">
                                    <ul>
                                        <li><i class="la la-phone"></i> +92 123 4567 890</li>
                                        <li><i class="la la-envelope-o"></i> <a href="#">info@shinarealestate.com</a></li>
                                    </ul>
                                </div>

                                <div class="column col-xl-4 col-lg-12 col-md-12 col-sm-12">
                                    <ul>
                                        <li><span>Address</span></li>
                                        <li>8542 El Paseo Grande New Yark</li>
                                    </ul>
                                </div>

                                <div class="column col-xl-4 col-lg-6 col-md-6 col-sm-12">
                                    <ul>
                                        <li><strong>Follow Us:</strong></li>
                                        <li>
                                            <ul class="social-links">
                                                <li><a href="#"><i class="la la-facebook"></i></a></li>
                                                <li><a href="#"><i class="la la-twitter"></i></a></li>
                                                <li><a href="#"><i class="la la-google-plus"></i></a></li>
                                                <li><a href="#"><i class="la la-dribbble"></i></a></li>
                                                <li><a href="#"><i class="la la-pinterest"></i></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Agent Detail -->

<!-- Recent Section -->
<section class="property-section alternate">
    <div class="auto-container">
        <div class="sec-title">
            <span class="title">FIND YOUR HOUSE IN YOUR CITY</span>
            <h2>RECENT PROPERTIES</h2>
        </div>

        <div class="row">
            <!-- Property Block -->
            <div class="property-block col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <div class="single-item-carousel owl-carousel owl-theme">
                            <figure class="image"><img src="{% static 'assets/images/resource/property-1.jpg' %}" alt=""></figure>
                            <figure class="image"><img src="{% static 'assets/images/resource/property-2.jpg' %}" alt=""></figure>
                            <figure class="image"><img src="{% static 'assets/images/resource/property-3.jpg' %}" alt=""></figure>
                        </div>
                        <span class="for">FOR SALE</span>
                        <span class="featured">FEATURED</span>
                        <ul class="info clearfix">
                            <li><a href="properties.html"><i class="la la-calendar-minus-o"></i>2 Years Ago</a></li>
                            <li><a href="agent-detail.html"><i class="la la-user-secret"></i>Ghaly Morca</a></li>
                        </ul>
                    </div>
                    <div class="lower-content">
                        <ul class="tags">
                            <li><a href="property-detail.html">Apartment</a>,</li>
                            <li><a href="property-detail.html">Bar</a>,</li>
                            <li><a href="property-detail.html">House</a>,</li>
                        </ul>
                        <h3><a href="property-detail.html">Single House Near Orland Park.</a></h3>
                        <div class="lucation"><i class="la la-map-marker"></i> Orland Park, IL 35785, Chicago, United State</div>
                        <ul class="property-info clearfix">
                            <li><i class="flaticon-dimension"></i> 356 Sq-Ft</li>
                            <li><i class="flaticon-bed"></i> 4 Bedrooms</li>
                            <li><i class="flaticon-car"></i> 2 Garage</li>
                            <li><i class="flaticon-bathtub"></i> 3 Bathroom</li>
                        </ul>
                        <div class="property-price clearfix">
                            <div class="read-more"><a href="property-detail.html" class="theme-btn">More Detail</a></div>
                            <div class="price">$ 13,65,000</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Property Block -->
            <div class="property-block col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="{% static 'assets/images/resource/property-2.jpg' %}" alt=""></figure>
                        <span class="for">FOR SALE</span>
                        <span class="featured">FEATURED</span>
                        <ul class="option-box">
                            <li><a href="{% static 'assets/images/resource/property-1.jpg' %}" class="lightbox-image" data-fancybox="property"><i class="la la-camera"></i></a></li>
                            <li><a href="#"><i class="la la-heart"></i></a></li>
                            <li><a href="#"><i class="la la-retweet"></i></a></li>
                        </ul>
                        <ul class="info clearfix">
                            <li><a href="properties.html"><i class="la la-calendar-minus-o"></i>2 Years Ago</a></li>
                            <li><a href="agent-detail.html"><i class="la la-user-secret"></i>Ghaly Morca</a></li>
                        </ul>
                    </div>
                    <div class="lower-content">
                        <ul class="tags">
                            <li><a href="property-detail.html">Apartment</a>,</li>
                            <li><a href="property-detail.html">Bar</a>,</li>
                            <li><a href="property-detail.html">House</a>,</li>
                        </ul>
                        <h3><a href="property-detail.html">Apartment Morden 1243, W No.</a></h3>
                        <div class="lucation"><i class="la la-map-marker"></i> Orland Park, IL 35785, Chicago, United State</div>
                        <ul class="property-info clearfix">
                            <li><i class="flaticon-dimension"></i> 356 Sq-Ft</li>
                            <li><i class="flaticon-bed"></i> 4 Bedrooms</li>
                            <li><i class="flaticon-car"></i> 2 Garage</li>
                            <li><i class="flaticon-bathtub"></i> 3 Bathroom</li>
                        </ul>
                        <div class="property-price clearfix">
                            <div class="read-more"><a href="property-detail.html" class="theme-btn">More Detail</a></div>
                            <div class="price">$ 13,65,000</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Property Block -->
            <div class="property-block col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="{% static 'assets/images/resource/property-3.jpg' %}" alt=""></figure>
                        <span class="for">FOR SALE</span>
                        <span class="featured">FEATURED</span>
                        <div class="video-link"><a href="https://www.youtube.com/watch?v=Fvae8nxzVz4" data-fancybox="gallery" data-caption=""><i class="icon la la-play-circle" aria-hidden="true"></i></a></div>
                        <ul class="info clearfix">
                            <li><a href="properties.html"><i class="la la-calendar-minus-o"></i>2 Years Ago</a></li>
                            <li><a href="agent-detail.html"><i class="la la-user-secret"></i>Ghaly Morca</a></li>
                        </ul>
                    </div>
                    <div class="lower-content">
                        <ul class="tags">
                            <li><a href="property-detail.html">Apartment</a>,</li>
                            <li><a href="property-detail.html">Bar</a>,</li>
                            <li><a href="property-detail.html">House</a>,</li>
                        </ul>
                        <h3><a href="property-detail.html">Great Home for Single fmaily</a></h3>
                        <div class="lucation"><i class="la la-map-marker"></i> Orland Park, IL 35785, Chicago, United State</div>
                        <ul class="property-info clearfix">
                            <li><i class="flaticon-dimension"></i> 356 Sq-Ft</li>
                            <li><i class="flaticon-bed"></i> 4 Bedrooms</li>
                            <li><i class="flaticon-car"></i> 2 Garage</li>
                            <li><i class="flaticon-bathtub"></i> 3 Bathroom</li>
                        </ul>
                        <div class="property-price clearfix">
                            <div class="read-more"><a href="property-detail.html" class="theme-btn">More Detail</a></div>
                            <div class="price">$ 13,65,000</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Property Section -->

<!-- Appointment Section -->
<section class="appointment-section">
    <div class="auto-container">
        <div class="row">
            <div class="title-column col-lg-4 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="sec-title">
                        <span class="title">Meet our agent</span>
                        <h2>Get Appointment</h2>
                    </div>
                    <div class="text">Please fill out the booking form and very soon we will contact with you to schedule an appointment. </div>
                </div>
            </div>

            <div class="form-column col-lg-8 col-md-12 col-sm-12">
                <div class="inner-column">
                    <!-- Appointment Form -->
                    <div class="appointment-form">
                        <form method="post" action="http://expert-themes.com/html/willies/index.html">
                            <div class="row">
                                <div class="col-lg-4 col-md-12 col-sm-12 form-group">
                                    <input type="text" name="username" placeholder="Name" required>
                                </div>
                                
                                <div class="col-lg-4 col-md-12 col-sm-12 form-group">
                                    <input type="email" name="email" placeholder="Email" required>
                                </div>

                                <div class="col-lg-4 col-md-12 col-sm-12 form-group">
                                    <input type="text" name="phone" placeholder="Phone" required>
                                </div>
                                
                                <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                    <textarea name="message" placeholder="Massage"></textarea>
                                </div>
                                
                                <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                    <button class="theme-btn btn-style-one" type="submit" name="submit-form">Submit Request</button>
                                </div> 
                            </div>
                        </form>
                    </div>
                    <!--End Appointment Form --> 
                </div>
            </div>
        </div>
    </div>
</section>
<!--End FAQ Form Section -->

<!-- Agents Section -->
<div class="agents-section">
    <div class="auto-container">
        <div class="sec-title">
            <span class="title">MEET OUR PROFESSIONAL AGENTS</span>
            <h2>MEET OUR AGENTS</h2>
        </div>

        <div class="agents-carousel owl-carousel owl-theme">
            <!-- Agent Block -->
            <div class="agent-block">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="agent-detail.html"><img src="{% static 'assets/images/resource/agent-1.jpg' %}" alt=""></a></figure>
                    </div>
                    <div class="info-box">
                        <h4 class="name"><a href="agent-detail.html">MAGDA ANOMA</a></h4>
                        <span class="designation">Real Estate Agent</span>
                        <ul class="social-links">
                            <li><a href="#"><i class="la la-facebook-f"></i><span>Facebook</span></a></li>
                            <li><a href="#"><i class="la la-twitter"></i><span>Twitter</span></a></li>
                            <li><a href="#"><i class="la la-google-plus"><span>google+</span></i></a></li>
                            <li><a href="#"><i class="la la-dribbble"></i><span>Dribbble</span></a></li>
                            <li><a href="#"><i class="la la-pinterest"></i><span>Pinterest</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Agent Block -->
            <div class="agent-block">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="agent-detail.html"><img src="{% static 'assets/images/resource/agent-2.jpg' %}" alt=""></a></figure>
                    </div>
                    <div class="info-box">
                        <h4 class="name"><a href="agent-detail.html">BADOY GHALY</a></h4>
                        <span class="designation">Real Estate Agent</span>
                        <ul class="social-links">
                            <li><a href="#"><i class="la la-facebook-f"></i><span>Facebook</span></a></li>
                            <li><a href="#"><i class="la la-twitter"></i><span>Twitter</span></a></li>
                            <li><a href="#"><i class="la la-google-plus"><span>google+</span></i></a></li>
                            <li><a href="#"><i class="la la-dribbble"></i><span>Dribbble</span></a></li>
                            <li><a href="#"><i class="la la-pinterest"></i><span>Pinterest</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Agent Block -->
            <div class="agent-block">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="agent-detail.html"><img src="{% static 'assets/images/resource/agent-3.jpg' %}" alt=""></a></figure>
                    </div>
                    <div class="info-box">
                        <h4 class="name"><a href="agent-detail.html">LORA PTIRAYTO</a></h4>
                        <span class="designation">Real Estate Agent</span>
                        <ul class="social-links">
                            <li><a href="#"><i class="la la-facebook-f"></i><span>Facebook</span></a></li>
                            <li><a href="#"><i class="la la-twitter"></i><span>Twitter</span></a></li>
                            <li><a href="#"><i class="la la-google-plus"><span>google+</span></i></a></li>
                            <li><a href="#"><i class="la la-dribbble"></i><span>Dribbble</span></a></li>
                            <li><a href="#"><i class="la la-pinterest"></i><span>Pinterest</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Agent Block -->
            <div class="agent-block">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="agent-detail.html"><img src="{% static 'assets/images/resource/agent-1.jpg' %}" alt=""></a></figure>
                    </div>
                    <div class="info-box">
                        <h4 class="name"><a href="agent-detail.html">MAGDA ANOMA</a></h4>
                        <span class="designation">Real Estate Agent</span>
                        <ul class="social-links">
                            <li><a href="#"><i class="la la-facebook-f"></i><span>Facebook</span></a></li>
                            <li><a href="#"><i class="la la-twitter"></i><span>Twitter</span></a></li>
                            <li><a href="#"><i class="la la-google-plus"><span>google+</span></i></a></li>
                            <li><a href="#"><i class="la la-dribbble"></i><span>Dribbble</span></a></li>
                            <li><a href="#"><i class="la la-pinterest"></i><span>Pinterest</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Agent Block -->
            <div class="agent-block">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="agent-detail.html"><img src="{% static 'assets/images/resource/agent-2.jpg' %}" alt=""></a></figure>
                    </div>
                    <div class="info-box">
                        <h4 class="name"><a href="agent-detail.html">BADOY GHALY</a></h4>
                        <span class="designation">Real Estate Agent</span>
                        <ul class="social-links">
                            <li><a href="#"><i class="la la-facebook-f"></i><span>Facebook</span></a></li>
                            <li><a href="#"><i class="la la-twitter"></i><span>Twitter</span></a></li>
                            <li><a href="#"><i class="la la-google-plus"><span>google+</span></i></a></li>
                            <li><a href="#"><i class="la la-dribbble"></i><span>Dribbble</span></a></li>
                            <li><a href="#"><i class="la la-pinterest"></i><span>Pinterest</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Agent Block -->
            <div class="agent-block">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="agent-detail.html"><img src="{% static 'assets/images/resource/agent-3.jpg' %}" alt=""></a></figure>
                    </div>
                    <div class="info-box">
                        <h4 class="name"><a href="agent-detail.html">LORA PTIRAYTO</a></h4>
                        <span class="designation">Real Estate Agent</span>
                        <ul class="social-links">
                            <li><a href="#"><i class="la la-facebook-f"></i><span>Facebook</span></a></li>
                            <li><a href="#"><i class="la la-twitter"></i><span>Twitter</span></a></li>
                            <li><a href="#"><i class="la la-google-plus"><span>google+</span></i></a></li>
                            <li><a href="#"><i class="la la-dribbble"></i><span>Dribbble</span></a></li>
                            <li><a href="#"><i class="la la-pinterest"></i><span>Pinterest</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Agents Section -->

<!--Clients Section-->
<section class="clients-section style-three">
    <div class="auto-container">
        <div class="sponsors-outer">
            <!--Sponsors Carousel-->
            <ul class="sponsors-carousel owl-carousel owl-theme">
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'assets/images/clients/1.png' %}" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'assets/images/clients/2.png' %}" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'assets/images/clients/3.png' %}" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'assets/images/clients/4.png' %}" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'assets/images/clients/1.png' %}" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'assets/images/clients/2.png' %}" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'assets/images/clients/3.png' %}" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'assets/images/clients/4.png' %}" alt=""></a></figure></li>
            </ul>
        </div>
    </div>
</section>
<!--End Clients Section--> 

{% endblock %}