{% extends 'main.html' %}

{% block content %}

{% load static %}

 <!--Page Title-->
 <section class="page-title" style="background-image:url({% static 'assets/images/background/16.jpg' %});">
    <div class="auto-container">
        <div class="inner-container clearfix">
            <h1>Agents</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li>Agents</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->

<!-- Agents Section -->
<div class="agents-section alternate">
    <div class="auto-container">
        <div class="row">
            <!-- Agent Block -->
            <div class="agent-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="agent-detail.html"><img src="{% static 'assets/images/resource/agent-1.jpg' %}" alt=""></a></figure>
                    </div>
                    <div class="info-box">
                        <h4 class="name"><a href="agent-detail.html">MAGDA ANOMA</a></h4>
                        <span class="designation">Real Estate Agent</span>
                        <ul class="social-links">
                            <li><a href="#"><i class="la la-facebook-f"></i><span>Facebook</span></a></li>
                            <li><a href="#"><i class="la la-twitter"></i><span>Twitter</span></a></li>
                            <li><a href="#"><i class="la la-google-plus"><span>google+</span></i></a></li>
                            <li><a href="#"><i class="la la-dribbble"></i><span>Dribbble</span></a></li>
                            <li><a href="#"><i class="la la-pinterest"></i><span>Pinterest</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Agent Block -->
            <div class="agent-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="agent-detail.html"><img src="{% static 'assets/images/resource/agent-2.jpg' %}" alt=""></a></figure>
                    </div>
                    <div class="info-box">
                        <h4 class="name"><a href="agent-detail.html">BADOY GHALY</a></h4>
                        <span class="designation">Real Estate Agent</span>
                        <ul class="social-links">
                            <li><a href="#"><i class="la la-facebook-f"></i><span>Facebook</span></a></li>
                            <li><a href="#"><i class="la la-twitter"></i><span>Twitter</span></a></li>
                            <li><a href="#"><i class="la la-google-plus"><span>google+</span></i></a></li>
                            <li><a href="#"><i class="la la-dribbble"></i><span>Dribbble</span></a></li>
                            <li><a href="#"><i class="la la-pinterest"></i><span>Pinterest</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Agent Block -->
            <div class="agent-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="agent-detail.html"><img src="{% static 'assets/images/resource/agent-3.jpg' %}" alt=""></a></figure>
                    </div>
                    <div class="info-box">
                        <h4 class="name"><a href="agent-detail.html">LORA PTIRAYTO</a></h4>
                        <span class="designation">Real Estate Agent</span>
                        <ul class="social-links">
                            <li><a href="#"><i class="la la-facebook-f"></i><span>Facebook</span></a></li>
                            <li><a href="#"><i class="la la-twitter"></i><span>Twitter</span></a></li>
                            <li><a href="#"><i class="la la-google-plus"><span>google+</span></i></a></li>
                            <li><a href="#"><i class="la la-dribbble"></i><span>Dribbble</span></a></li>
                            <li><a href="#"><i class="la la-pinterest"></i><span>Pinterest</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Agent Block -->
            <div class="agent-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="agent-detail.html"><img src="{% static 'assets/images/resource/agent-1.jpg' %}" alt=""></a></figure>
                    </div>
                    <div class="info-box">
                        <h4 class="name"><a href="agent-detail.html">MAGDA ANOMA</a></h4>
                        <span class="designation">Real Estate Agent</span>
                        <ul class="social-links">
                            <li><a href="#"><i class="la la-facebook-f"></i><span>Facebook</span></a></li>
                            <li><a href="#"><i class="la la-twitter"></i><span>Twitter</span></a></li>
                            <li><a href="#"><i class="la la-google-plus"><span>google+</span></i></a></li>
                            <li><a href="#"><i class="la la-dribbble"></i><span>Dribbble</span></a></li>
                            <li><a href="#"><i class="la la-pinterest"></i><span>Pinterest</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Agent Block -->
            <div class="agent-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="agent-detail.html"><img src="{% static 'assets/images/resource/agent-2.jpg' %}" alt=""></a></figure>
                    </div>
                    <div class="info-box">
                        <h4 class="name"><a href="agent-detail.html">BADOY GHALY</a></h4>
                        <span class="designation">Real Estate Agent</span>
                        <ul class="social-links">
                            <li><a href="#"><i class="la la-facebook-f"></i><span>Facebook</span></a></li>
                            <li><a href="#"><i class="la la-twitter"></i><span>Twitter</span></a></li>
                            <li><a href="#"><i class="la la-google-plus"><span>google+</span></i></a></li>
                            <li><a href="#"><i class="la la-dribbble"></i><span>Dribbble</span></a></li>
                            <li><a href="#"><i class="la la-pinterest"></i><span>Pinterest</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Agent Block -->
            <div class="agent-block col-lg-4 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="agent-detail.html"><img src="{% static 'assets/images/resource/agent-3.jpg' %}" alt=""></a></figure>
                    </div>
                    <div class="info-box">
                        <h4 class="name"><a href="agent-detail.html">LORA PTIRAYTO</a></h4>
                        <span class="designation">Real Estate Agent</span>
                        <ul class="social-links">
                            <li><a href="#"><i class="la la-facebook-f"></i><span>Facebook</span></a></li>
                            <li><a href="#"><i class="la la-twitter"></i><span>Twitter</span></a></li>
                            <li><a href="#"><i class="la la-google-plus"><span>google+</span></i></a></li>
                            <li><a href="#"><i class="la la-dribbble"></i><span>Dribbble</span></a></li>
                            <li><a href="#"><i class="la la-pinterest"></i><span>Pinterest</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Agents Section -->

<!--Clients Section-->
<section class="clients-section style-three">
    <div class="auto-container">
        <div class="sponsors-outer">
            <!--Sponsors Carousel-->
            <ul class="sponsors-carousel owl-carousel owl-theme">
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'assets/images/clients/1.png' %}" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'assets/images/clients/2.png' %}" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'assets/images/clients/3.png' %}" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'assets/images/clients/4.png' %}" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'assets/images/clients/1.png' %}" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'assets/images/clients/2.png' %}" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'assets/images/clients/3.png' %}" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'assets/images/clients/4.png' %}" alt=""></a></figure></li>
            </ul>
        </div>
    </div>
</section>
<!--End Clients Section-->

{% endblock %}