{% extends 'main.html' %}

{% block content %}

{% load static %}

<style>   
    
    .blog img {
        width: 100% !important;
        height: 450px !important;
        /* object-fit: cover !important; */
        display: grid !important;
    }
    
</style>

<!--Page Title-->
<section class="page-title" style="background-image:url({% static 'assets/images/background/16.jpg' %});">
    <div class="auto-container">
        <div class="inner-container clearfix">
            <h1>News Detail</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li>News Detail</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->

<!-- Sidebar Page Container -->
<div class="sidebar-page-container left-sidebar">
    <div class="auto-container">
        <div class="row">
            <!--Content Side-->
            <div class="content-side col-lg-8 col-md-12 col-sm-12">
                <div class="blog-detail">
                    <div class="upper-box">
                        <div class="image-box">
                            <figure class="image blog">
                                <img src="{{blog.image.url}}" alt="">
                            </figure>
                        </div>
                    </div>

                    <div class="lower-content">
                        <ul class="info">
                            <li>by <span>{{blog.host}}</span></li>
                            <li>{{blog.creates_at|timesince}} :ago</li>
                            <li>COMMENTS 0</li>
                        </ul>
                        <h2>{{blog.title}}</h2>
                        <p>{{blog.body|linebreaks}}</p>
                        <!-- <blockquote>{{blog.body|linebreaks}}</blockquote> -->
                        
                    </div>

                    <!-- Post Share Option -->
                    <div class="post-share-options clearfix">
                        <div class="pull-left clearfix">
                            <span class="icon la la-tags"></span>
                            <ul class="tags">
                                <li><a href="#">Apartment,</a>,</li>
                                <li><a href="#">Condo,</a>,</li>
                                <li><a href="#">Multi Family,</a></li>
                                <li><a href="#">Villa</a></li>
                            </ul>
                        </div>
                        <div class="pull-right clearfix">
                            <ul class="social-icon clearfix">
                                <li><a href="#"><i class="la la-facebook"></i></a></li>
                                <li><a href="#"><i class="la la-twitter"></i></a></li>
                                <li><a href="#"><i class="la la-google-plus"></i></a></li>
                                <li><a href="#"><i class="la la-dribbble"></i></a></li>
                                <li><a href="#"><i class="la la-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Review Box -->
                    <div class="review-area">
                        <!--Reviews Container-->
                        <div class="reviews-container">
                            <h4>Reviews For Costomer</h4>
                            <!--Reviews-->
                            <article class="review-box">
                                <div class="thumb-box">
                                    <figure class="thumb"><img src="{% static 'assets/images/resource/review-thumb-1.jpg' %}" alt=""></figure>
                                    <a href="#" class="reply-btn">Reply Now</a>
                                </div>
                                <div class="content-box">
                                    <div class="name">Monija Moro</div>
                                    <span class="date"><i class="la la-calendar"></i> 5 December, 2017</span>
                                    <div class="rating"><span class="la la-star"></span><span class="la la-star"></span><span class="la la-star"></span><span class="la la-star"></span><span class="la la-star"></span></div>
                                    <div class="text">Accusantium aut, consequatur, culpa dolorum est facilis illo magnam numquam officia omnis qui recusandae sit, tempora ullam unde velit veniam voluptatem!.</div>
                                </div>
                            </article>
                            
                            <!--Reviews-->
                            <article class="review-box reply">
                                <div class="thumb-box">
                                    <figure class="thumb"><img src="{% static 'assets/images/resource/review-thumb-2.jpg' %}" alt=""></figure>
                                    <a href="#" class="reply-btn theme-btn">Reply Now</a>
                                </div>
                                <div class="content-box">
                                    <div class="name">Mibano Rests</div>
                                    <span class="date"><i class="la la-calendar"></i> 5 December, 2017</span>
                                    <div class="rating"><span class="la la-star"></span><span class="la la-star"></span><span class="la la-star"></span><span class="la la-star"></span><span class="la la-star"></span></div>
                                    <div class="text">Accusantium aut, consequatur, culpa dolorum est facilis illo magnam numquam officia omnis qui recusandae sit, tempora ullam unde velit veniam voluptatem!.</div>
                                </div>
                            </article>

                            <!--Reviews-->
                            <article class="review-box">
                                <div class="thumb-box">
                                    <figure class="thumb"><img src="{% static 'assets/images/resource/review-thumb-3.jpg' %}" alt=""></figure>
                                    <a href="#" class="reply-btn theme-btn">Reply Now</a>
                                </div>
                                <div class="content-box">
                                    <div class="name">Cojari Barna</div>
                                    <span class="date"><i class="la la-calendar"></i> 5 December, 2017</span>
                                    <div class="rating"><span class="la la-star"></span><span class="la la-star"></span><span class="la la-star"></span><span class="la la-star-o"></span><span class="la la-star-o"></span></div>
                                    <div class="text">Accusantium aut, consequatur, culpa dolorum est facilis illo magnam numquam officia omnis qui recusandae sit, tempora ullam unde velit veniam voluptatem!.</div>
                                </div>
                            </article>
                        </div>
                    </div>

                     <!-- Review Comment Form -->
                    <div class="review-comment-form"> 
                        <h4>Leave A Review</h4>
                        <form method="post" action="http://expert-themes.com/html/willies/contact.html">
                            <div class="row">
                                <div class="form-group col-lg-6 col-md-12 col-sm-12">
                                    <input type="text" name="username" placeholder="Full Name" required>
                                </div>
                                <div class="form-group col-lg-6 col-md-12 col-sm-12">
                                    <input type="text" name="number" placeholder="Email Address" required>
                                </div>
                                <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                    <textarea name="message" placeholder="Massage"></textarea>
                                </div>

                                <div class="form-group col-lg-12 col-md-12 col-sm-12 text-right">
                                    <button class="theme-btn btn-style-one" type="submit" name="submit-form">Post Review</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!--Sidebar Side-->
            <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                <aside class="sidebar default-sidebar">

                    <!--search box-->
                    <div class="sidebar-widget sort-by">
                        <select class="custom-select-box submit">
                            <option>Select blog</option>
                            {% for blog in blogs %}
                            <option>
                                <ul class="dropdown">
                                    <li>
                                        <a href="{% url 'blog' blog.id %}">{{blog.title}}</a> 
                                    </li>
                                </ul>
                                
                            </option>
                            {% endfor %}
                            
                        </select>
                    </div>

                     <!-- Categories -->
                     <div class="sidebar-widget categories">
                        <div class="sidebar-title"><h2>Category Properties</h2></div>
                        <ul class="cat-list">
                            {% for category in categories %}
                            <li><a href="#">{{category.name}}<span>{{category.property_set.all.count}}</span></a></li>
                            {% endfor %}
                           
                        </ul>
                    </div>

                    <!-- Recent Properties -->
                    <div class="sidebar-widget recent-properties">
                        <div class="sidebar-title"><h2>Recent Properties</h2></div>
                        <div class="widget-content">
                            <!-- post -->
                            {% for property in properties %}
                            <article class="post">
                                <div class="post-thumb">
                                    <a href="{% url 'listing' property.id %}">
                                        <img src="{{property.imageOne.url}}" alt="">
                                        <!-- <span class="status">Rent</span> -->
                                    </a>
                                </div>
                                <span class="location">{{property.location}}</span>
                                <h3><a href="{% url 'listing' property.id %}">{{property.title}}</a></h3>
                                <div class="price">Ksh {{property.rent}}</div>
                            </article>
                            {% endfor %}
                        </div>
                    </div>            
                </aside>
            </div>
        </div>
    </div>
</div>
<!-- End Sidebar Container -->

<!--Clients Section-->
<section class="clients-section style-three">
    <div class="auto-container">
        <div class="sponsors-outer">
            <!--Sponsors Carousel-->
            <ul class="sponsors-carousel owl-carousel owl-theme">
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'assets/images/clients/1.png' %}" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'assets/images/clients/2.png' %}" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'assets/images/clients/3.png' %}" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'assets/images/clients/4.png' %}" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'assets/images/clients/1.png' %}" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'assets/images/clients/2.png' %}" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'assets/images/clients/3.png' %}" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'assets/images/clients/4.png' %}" alt=""></a></figure></li>
            </ul>
        </div>
    </div>
</section>
<!--End Clients Section-->

{% endblock %}