{% extends 'main.html' %}

{% block content %}

{% load static %}

<!--Page Title-->
<section class="page-title" style="background-image:url({% static 'assets/images/background/16.jpg' %});">
    <div class="auto-container">
        <div class="inner-container clearfix">
            <h1>Faqulity Ask Question</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li>FAQ's</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->

<!-- FAQ's Section -->
<section class="faq-section">
    <div class="auto-container">
         <!--Product Info Tabs-->
        <div class="faq-tabs">
            <!--Product Tabs-->
            <div class="tabs-box">
                <!--Tab Btns-->
                <ul class="tab-btns tab-buttons clearfix">
                    <li data-tab="#all-items" class="tab-btn active-btn">All House</li>
                    <li data-tab="#computer" class="tab-btn">Apprtment</li>
                    <li data-tab="#laptop" class="tab-btn">Restaurent</li>
                    <li data-tab="#tablet" class="tab-btn">Villa</li>
                    <li data-tab="#mobile" class="tab-btn">Form</li>
                </ul>

                <!--Tabs Container-->
                <div class="tabs-content">
                    <!--Tab / Active tab-->
                    <div class="tab active-tab" id="all-items">
                        <div class="content">
                            <ul class="accordion-box">
                                <!--Block-->
                                <li class="accordion block">
                                    <div class="acc-btn">Phasellus quis scelerisque ligula. Sed gravida? <div class="icon la la-arrow-circle-o-right"></div></div>
                                    <div class="acc-content">
                                        <div class="content">
                                            <div class="text">We give a Guarantee for a Period of 5 years and promise to rectify any fault arising out of faulty workmanship at our cost. However the guarantee does not hold good for mishandling and breakable. Foresee the pains and troublers thats ut are bound to ensue; and equall blamed seds belongs to those duty you a complete account of the system.</div>
                                        </div>
                                    </div>
                                </li>

                                <!--Block-->
                                <li class="accordion block">
                                    <div class="acc-btn">Pellentesque egestas tortor mauris, vel ? <div class="icon la la-arrow-circle-o-right"></div></div>
                                    <div class="acc-content">
                                        <div class="content">
                                            <div class="text">We give a Guarantee for a Period of 5 years and promise to rectify any fault arising out of faulty workmanship at our cost. However the guarantee does not hold good for mishandling and breakable. Foresee the pains and troublers thats ut are bound to ensue; and equall blamed seds belongs to those duty you a complete account of the system.</div>
                                        </div>
                                    </div>
                                </li>

                                <!--Block-->
                                <li class="accordion block active-block">
                                    <div class="acc-btn active">Phasellus quis scelerisque ligula. Sed gravida? <div class="icon la la-arrow-circle-o-right"></div></div>
                                    <div class="acc-content current">
                                        <div class="content">
                                            <div class="text">We give a Guarantee for a Period of 5 years and promise to rectify any fault arising out of faulty workmanship at our cost. However the guarantee does not hold good for mishandling and breakable. Foresee the pains and troublers thats ut are bound to ensue; and equall blamed seds belongs to those duty you a complete account of the system.</div>
                                        </div>
                                    </div>
                                </li>  

                                <!--Block-->
                                <li class="accordion block">
                                    <div class="acc-btn">How will I get the updates of my property? <div class="icon la la-arrow-circle-o-right"></div></div>
                                    <div class="acc-content">
                                        <div class="content">
                                            <div class="text">We give a Guarantee for a Period of 5 years and promise to rectify any fault arising out of faulty workmanship at our cost. However the guarantee does not hold good for mishandling and breakable. Foresee the pains and troublers thats ut are bound to ensue; and equall blamed seds belongs to those duty you a complete account of the system.</div>
                                        </div>
                                    </div>
                                </li>

                                <!--Block-->
                                <li class="accordion block">
                                    <div class="acc-btn">What if you find more problems than quoted? <div class="icon la la-arrow-circle-o-right"></div></div>
                                    <div class="acc-content">
                                        <div class="content">
                                            <div class="text">We give a Guarantee for a Period of 5 years and promise to rectify any fault arising out of faulty workmanship at our cost. However the guarantee does not hold good for mishandling and breakable. Foresee the pains and troublers thats ut are bound to ensue; and equall blamed seds belongs to those duty you a complete account of the system.</div>
                                        </div>
                                    </div>
                                </li>

                                <!--Block-->
                                <li class="accordion block">
                                    <div class="acc-btn">Whom to contact in case of any grievances <div class="icon la la-arrow-circle-o-right"></div></div>
                                    <div class="acc-content">
                                        <div class="content">
                                            <div class="text">We give a Guarantee for a Period of 5 years and promise to rectify any fault arising out of faulty workmanship at our cost. However the guarantee does not hold good for mishandling and breakable. Foresee the pains and troublers thats ut are bound to ensue; and equall blamed seds belongs to those duty you a complete account of the system.</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Tab -->
                    <div class="tab" id="computer">
                        <div class="content">
                            <ul class="accordion-box">
                                <!--Block-->
                                <li class="accordion block">
                                    <div class="acc-btn">Phasellus quis scelerisque ligula. Sed gravida? <div class="icon la la-arrow-circle-o-right"></div></div>
                                    <div class="acc-content">
                                        <div class="content">
                                            <div class="text">We give a Guarantee for a Period of 5 years and promise to rectify any fault arising out of faulty workmanship at our cost. However the guarantee does not hold good for mishandling and breakable. Foresee the pains and troublers thats ut are bound to ensue; and equall blamed seds belongs to those duty you a complete account of the system.</div>
                                        </div>
                                    </div>
                                </li>

                                <!--Block-->
                                <li class="accordion block">
                                    <div class="acc-btn">Pellentesque egestas tortor mauris, vel ? <div class="icon la la-arrow-circle-o-right"></div></div>
                                    <div class="acc-content">
                                        <div class="content">
                                            <div class="text">We give a Guarantee for a Period of 5 years and promise to rectify any fault arising out of faulty workmanship at our cost. However the guarantee does not hold good for mishandling and breakable. Foresee the pains and troublers thats ut are bound to ensue; and equall blamed seds belongs to those duty you a complete account of the system.</div>
                                        </div>
                                    </div>
                                </li>

                                <!--Block-->
                                <li class="accordion block active-block">
                                    <div class="acc-btn active">Phasellus quis scelerisque ligula. Sed gravida? <div class="icon la la-arrow-circle-o-right"></div></div>
                                    <div class="acc-content current">
                                        <div class="content">
                                            <div class="text">We give a Guarantee for a Period of 5 years and promise to rectify any fault arising out of faulty workmanship at our cost. However the guarantee does not hold good for mishandling and breakable. Foresee the pains and troublers thats ut are bound to ensue; and equall blamed seds belongs to those duty you a complete account of the system.</div>
                                        </div>
                                    </div>
                                </li>  

                                <!--Block-->
                                <li class="accordion block">
                                    <div class="acc-btn">How will I get the updates of my property? <div class="icon la la-arrow-circle-o-right"></div></div>
                                    <div class="acc-content">
                                        <div class="content">
                                            <div class="text">We give a Guarantee for a Period of 5 years and promise to rectify any fault arising out of faulty workmanship at our cost. However the guarantee does not hold good for mishandling and breakable. Foresee the pains and troublers thats ut are bound to ensue; and equall blamed seds belongs to those duty you a complete account of the system.</div>
                                        </div>
                                    </div>
                                </li>

                                <!--Block-->
                                <li class="accordion block">
                                    <div class="acc-btn">What if you find more problems than quoted? <div class="icon la la-arrow-circle-o-right"></div></div>
                                    <div class="acc-content">
                                        <div class="content">
                                            <div class="text">We give a Guarantee for a Period of 5 years and promise to rectify any fault arising out of faulty workmanship at our cost. However the guarantee does not hold good for mishandling and breakable. Foresee the pains and troublers thats ut are bound to ensue; and equall blamed seds belongs to those duty you a complete account of the system.</div>
                                        </div>
                                    </div>
                                </li>

                                <!--Block-->
                                <li class="accordion block">
                                    <div class="acc-btn">Whom to contact in case of any grievances <div class="icon la la-arrow-circle-o-right"></div></div>
                                    <div class="acc-content">
                                        <div class="content">
                                            <div class="text">We give a Guarantee for a Period of 5 years and promise to rectify any fault arising out of faulty workmanship at our cost. However the guarantee does not hold good for mishandling and breakable. Foresee the pains and troublers thats ut are bound to ensue; and equall blamed seds belongs to those duty you a complete account of the system.</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Tab -->
                    <div class="tab" id="laptop">
                        <div class="content">
                            <ul class="accordion-box">
                                <!--Block-->
                                <li class="accordion block">
                                    <div class="acc-btn">Phasellus quis scelerisque ligula. Sed gravida? <div class="icon la la-arrow-circle-o-right"></div></div>
                                    <div class="acc-content">
                                        <div class="content">
                                            <div class="text">We give a Guarantee for a Period of 5 years and promise to rectify any fault arising out of faulty workmanship at our cost. However the guarantee does not hold good for mishandling and breakable. Foresee the pains and troublers thats ut are bound to ensue; and equall blamed seds belongs to those duty you a complete account of the system.</div>
                                        </div>
                                    </div>
                                </li>

                                <!--Block-->
                                <li class="accordion block">
                                    <div class="acc-btn">Pellentesque egestas tortor mauris, vel ? <div class="icon la la-arrow-circle-o-right"></div></div>
                                    <div class="acc-content">
                                        <div class="content">
                                            <div class="text">We give a Guarantee for a Period of 5 years and promise to rectify any fault arising out of faulty workmanship at our cost. However the guarantee does not hold good for mishandling and breakable. Foresee the pains and troublers thats ut are bound to ensue; and equall blamed seds belongs to those duty you a complete account of the system.</div>
                                        </div>
                                    </div>
                                </li>

                                <!--Block-->
                                <li class="accordion block active-block">
                                    <div class="acc-btn active">Phasellus quis scelerisque ligula. Sed gravida? <div class="icon la la-arrow-circle-o-right"></div></div>
                                    <div class="acc-content current">
                                        <div class="content">
                                            <div class="text">We give a Guarantee for a Period of 5 years and promise to rectify any fault arising out of faulty workmanship at our cost. However the guarantee does not hold good for mishandling and breakable. Foresee the pains and troublers thats ut are bound to ensue; and equall blamed seds belongs to those duty you a complete account of the system.</div>
                                        </div>
                                    </div>
                                </li>  

                                <!--Block-->
                                <li class="accordion block">
                                    <div class="acc-btn">How will I get the updates of my property? <div class="icon la la-arrow-circle-o-right"></div></div>
                                    <div class="acc-content">
                                        <div class="content">
                                            <div class="text">We give a Guarantee for a Period of 5 years and promise to rectify any fault arising out of faulty workmanship at our cost. However the guarantee does not hold good for mishandling and breakable. Foresee the pains and troublers thats ut are bound to ensue; and equall blamed seds belongs to those duty you a complete account of the system.</div>
                                        </div>
                                    </div>
                                </li>

                                <!--Block-->
                                <li class="accordion block">
                                    <div class="acc-btn">What if you find more problems than quoted? <div class="icon la la-arrow-circle-o-right"></div></div>
                                    <div class="acc-content">
                                        <div class="content">
                                            <div class="text">We give a Guarantee for a Period of 5 years and promise to rectify any fault arising out of faulty workmanship at our cost. However the guarantee does not hold good for mishandling and breakable. Foresee the pains and troublers thats ut are bound to ensue; and equall blamed seds belongs to those duty you a complete account of the system.</div>
                                        </div>
                                    </div>
                                </li>

                                <!--Block-->
                                <li class="accordion block">
                                    <div class="acc-btn">Whom to contact in case of any grievances <div class="icon la la-arrow-circle-o-right"></div></div>
                                    <div class="acc-content">
                                        <div class="content">
                                            <div class="text">We give a Guarantee for a Period of 5 years and promise to rectify any fault arising out of faulty workmanship at our cost. However the guarantee does not hold good for mishandling and breakable. Foresee the pains and troublers thats ut are bound to ensue; and equall blamed seds belongs to those duty you a complete account of the system.</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Tab -->
                    <div class="tab" id="tablet">
                        <div class="content">
                            <ul class="accordion-box">
                                <!--Block-->
                                <li class="accordion block">
                                    <div class="acc-btn">Phasellus quis scelerisque ligula. Sed gravida? <div class="icon la la-arrow-circle-o-right"></div></div>
                                    <div class="acc-content">
                                        <div class="content">
                                            <div class="text">We give a Guarantee for a Period of 5 years and promise to rectify any fault arising out of faulty workmanship at our cost. However the guarantee does not hold good for mishandling and breakable. Foresee the pains and troublers thats ut are bound to ensue; and equall blamed seds belongs to those duty you a complete account of the system.</div>
                                        </div>
                                    </div>
                                </li>

                                <!--Block-->
                                <li class="accordion block">
                                    <div class="acc-btn">Pellentesque egestas tortor mauris, vel ? <div class="icon la la-arrow-circle-o-right"></div></div>
                                    <div class="acc-content">
                                        <div class="content">
                                            <div class="text">We give a Guarantee for a Period of 5 years and promise to rectify any fault arising out of faulty workmanship at our cost. However the guarantee does not hold good for mishandling and breakable. Foresee the pains and troublers thats ut are bound to ensue; and equall blamed seds belongs to those duty you a complete account of the system.</div>
                                        </div>
                                    </div>
                                </li>

                                <!--Block-->
                                <li class="accordion block active-block">
                                    <div class="acc-btn active">Phasellus quis scelerisque ligula. Sed gravida? <div class="icon la la-arrow-circle-o-right"></div></div>
                                    <div class="acc-content current">
                                        <div class="content">
                                            <div class="text">We give a Guarantee for a Period of 5 years and promise to rectify any fault arising out of faulty workmanship at our cost. However the guarantee does not hold good for mishandling and breakable. Foresee the pains and troublers thats ut are bound to ensue; and equall blamed seds belongs to those duty you a complete account of the system.</div>
                                        </div>
                                    </div>
                                </li>  

                                <!--Block-->
                                <li class="accordion block">
                                    <div class="acc-btn">How will I get the updates of my property? <div class="icon la la-arrow-circle-o-right"></div></div>
                                    <div class="acc-content">
                                        <div class="content">
                                            <div class="text">We give a Guarantee for a Period of 5 years and promise to rectify any fault arising out of faulty workmanship at our cost. However the guarantee does not hold good for mishandling and breakable. Foresee the pains and troublers thats ut are bound to ensue; and equall blamed seds belongs to those duty you a complete account of the system.</div>
                                        </div>
                                    </div>
                                </li>

                                <!--Block-->
                                <li class="accordion block">
                                    <div class="acc-btn">What if you find more problems than quoted? <div class="icon la la-arrow-circle-o-right"></div></div>
                                    <div class="acc-content">
                                        <div class="content">
                                            <div class="text">We give a Guarantee for a Period of 5 years and promise to rectify any fault arising out of faulty workmanship at our cost. However the guarantee does not hold good for mishandling and breakable. Foresee the pains and troublers thats ut are bound to ensue; and equall blamed seds belongs to those duty you a complete account of the system.</div>
                                        </div>
                                    </div>
                                </li>

                                <!--Block-->
                                <li class="accordion block">
                                    <div class="acc-btn">Whom to contact in case of any grievances <div class="icon la la-arrow-circle-o-right"></div></div>
                                    <div class="acc-content">
                                        <div class="content">
                                            <div class="text">We give a Guarantee for a Period of 5 years and promise to rectify any fault arising out of faulty workmanship at our cost. However the guarantee does not hold good for mishandling and breakable. Foresee the pains and troublers thats ut are bound to ensue; and equall blamed seds belongs to those duty you a complete account of the system.</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Tab -->
                    <div class="tab" id="mobile">
                        <div class="content">
                            <ul class="accordion-box">
                                <!--Block-->
                                <li class="accordion block">
                                    <div class="acc-btn">Phasellus quis scelerisque ligula. Sed gravida? <div class="icon la la-arrow-circle-o-right"></div></div>
                                    <div class="acc-content">
                                        <div class="content">
                                            <div class="text">We give a Guarantee for a Period of 5 years and promise to rectify any fault arising out of faulty workmanship at our cost. However the guarantee does not hold good for mishandling and breakable. Foresee the pains and troublers thats ut are bound to ensue; and equall blamed seds belongs to those duty you a complete account of the system.</div>
                                        </div>
                                    </div>
                                </li>

                                <!--Block-->
                                <li class="accordion block">
                                    <div class="acc-btn">Pellentesque egestas tortor mauris, vel ? <div class="icon la la-arrow-circle-o-right"></div></div>
                                    <div class="acc-content">
                                        <div class="content">
                                            <div class="text">We give a Guarantee for a Period of 5 years and promise to rectify any fault arising out of faulty workmanship at our cost. However the guarantee does not hold good for mishandling and breakable. Foresee the pains and troublers thats ut are bound to ensue; and equall blamed seds belongs to those duty you a complete account of the system.</div>
                                        </div>
                                    </div>
                                </li>

                                <!--Block-->
                                <li class="accordion block active-block">
                                    <div class="acc-btn active">Phasellus quis scelerisque ligula. Sed gravida? <div class="icon la la-arrow-circle-o-right"></div></div>
                                    <div class="acc-content current">
                                        <div class="content">
                                            <div class="text">We give a Guarantee for a Period of 5 years and promise to rectify any fault arising out of faulty workmanship at our cost. However the guarantee does not hold good for mishandling and breakable. Foresee the pains and troublers thats ut are bound to ensue; and equall blamed seds belongs to those duty you a complete account of the system.</div>
                                        </div>
                                    </div>
                                </li>  

                                <!--Block-->
                                <li class="accordion block">
                                    <div class="acc-btn">How will I get the updates of my property? <div class="icon la la-arrow-circle-o-right"></div></div>
                                    <div class="acc-content">
                                        <div class="content">
                                            <div class="text">We give a Guarantee for a Period of 5 years and promise to rectify any fault arising out of faulty workmanship at our cost. However the guarantee does not hold good for mishandling and breakable. Foresee the pains and troublers thats ut are bound to ensue; and equall blamed seds belongs to those duty you a complete account of the system.</div>
                                        </div>
                                    </div>
                                </li>

                                <!--Block-->
                                <li class="accordion block">
                                    <div class="acc-btn">What if you find more problems than quoted? <div class="icon la la-arrow-circle-o-right"></div></div>
                                    <div class="acc-content">
                                        <div class="content">
                                            <div class="text">We give a Guarantee for a Period of 5 years and promise to rectify any fault arising out of faulty workmanship at our cost. However the guarantee does not hold good for mishandling and breakable. Foresee the pains and troublers thats ut are bound to ensue; and equall blamed seds belongs to those duty you a complete account of the system.</div>
                                        </div>
                                    </div>
                                </li>

                                <!--Block-->
                                <li class="accordion block">
                                    <div class="acc-btn">Whom to contact in case of any grievances <div class="icon la la-arrow-circle-o-right"></div></div>
                                    <div class="acc-content">
                                        <div class="content">
                                            <div class="text">We give a Guarantee for a Period of 5 years and promise to rectify any fault arising out of faulty workmanship at our cost. However the guarantee does not hold good for mishandling and breakable. Foresee the pains and troublers thats ut are bound to ensue; and equall blamed seds belongs to those duty you a complete account of the system.</div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End FAQ's Section -->

{% endblock %}