{% extends 'main.html' %}

{% block content %}

{% load static %}

<!-- Property Search Section Two -->
<section class="property-search-section-two" style="background-image: url({% static 'images/background/4.jpg' %});">
    <div class="auto-container">
        <div class="content-box">
            <div class="title-box">
                <h2>Find Your Perfect <span>Property</span> For Your Home</h2>
                <h4>We have over million properties for you</h4>
            </div>

            <div class="property-search-form style-two">
                <form method="post" action="http://expert-themes.com/html/willies/index.html">
                    <div class="row no-gutters">
                        <!-- Form Group -->
                        <div class="form-group col-lg-2 col-md-6 col-sm-12">
                            <select class="custom-select-box">
                                <option>Location</option>
                                <option>New York</option>
                                <option>Los Angeles</option>
                                <option>Chicago</option>
                                <option>Houston</option>
                            </select>
                        </div>

                        <!-- Form Group -->
                        <div class="form-group col-lg-2 col-md-6 col-sm-12">
                            <select class="custom-select-box">
                                <option>Property Type</option>
                                <option>Residential</option>
                                <option>Commercial</option>
                                <option>Industrial</option>
                                <option>Apartments</option>
                            </select>
                        </div>

                        <!-- Form Group -->
                        <div class="form-group col-lg-2 col-md-6 col-sm-12">
                            <select class="custom-select-box">
                                <option>Property Status</option>
                                <option>For Rent</option>
                                <option>For Sale</option>
                            </select>
                        </div>


                        <!-- Form Group -->
                        <div class="form-group col-lg-2 col-md-6 col-sm-12">
                            <select class="custom-select-box">
                                <option>Any Bedrooms</option>
                                <option>01 Bedroom</option>
                                <option>02 Bedrooms</option>
                                <option>03 Bedrooms</option>
                                <option>04 Bedrooms</option>
                                <option>05 Bedrooms</option>
                            </select>
                        </div>

                        <!-- Form Group -->
                        <div class="form-group col-lg-2 col-md-6 col-sm-12">
                            <select class="custom-select-box">
                                <option>Any Bathrooms</option>
                                <option>01 Bathroom</option>
                                <option>02 Bathrooms</option>
                                <option>03 Bathrooms</option>
                                <option>04 Bathrooms</option>
                                <option>05 Bathrooms</option>
                            </select>
                        </div>

                        <!-- Form Group -->
                        <div class="form-group col-lg-2 col-md-6 col-sm-12">
                            <button type="submit" class="theme-btn btn-style-one">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--End Property Search Section Two -->

<!-- About Us -->
<section class="about-us" style="background-image: url({% static 'assets/images/background/1.jpg' %});">
    <div class="auto-container">
        <div class="row">
            <!-- Info Column -->
            <div class="info-column col-xl-6 col-lg-12 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="sec-title light">
                        <span class="title">THE BEST PLACE TO FIND THE HOUSE YOU WANT</span>
                        <h2>WELL TO WILLIES REAL ESTATE</h2>
                    </div>

                    <div class="text"><strong>WILLIES REAL ESTATE</strong> is the best place for elit, sed do eiusmod tempor dolor sit amet, conse ctetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et lorna aliquatd minimam, quis nostrud exercitation oris nisi ut aliquip ex ea. </div>

                    <div class="row features">
                        <!-- Feature Block -->
                        <div class="feature-block col-lg-6 col-md-6 col-sm-12">
                            <div class="inner-box">
                                <span class="icon flaticon-house-1"></span>
                                <h4><a href="about.html">Buy Property</a></h4>
                                <div class="text">We have the best properties Sale, Buy, and Rent Dealers.</div>
                            </div>
                        </div>

                        <!-- Feature Block -->
                        <div class="feature-block col-lg-6 col-md-6 col-sm-12">
                            <div class="inner-box">
                                <span class="icon flaticon-rent"></span>
                                <h4><a href="about.html">REnt Property</a></h4>
                                <div class="text">We have the best properties Sale, Buy, and Rent Dealers.</div>
                            </div>
                        </div>

                        <!-- Feature Block -->
                        <div class="feature-block col-lg-6 col-md-6 col-sm-12">
                            <div class="inner-box">
                                <span class="icon flaticon-house-5"></span>
                                <h4><a href="about.html">Real Estate Kit</a></h4>
                                <div class="text">We have the best properties Sale, Buy, and Rent Dealers.</div>
                            </div>
                        </div>

                        <!-- Feature Block -->
                        <div class="feature-block col-lg-6 col-md-6 col-sm-12">
                            <div class="inner-box">
                                <span class="icon flaticon-apartment"></span>
                                <h4><a href="about.html">Sale Property</a></h4>
                                <div class="text">We have the best properties Sale, Buy, and Rent Dealers.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Video Column -->
            <div class="video-column col-xl-6 col-lg-12 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="video-box">
                        <figure class="image"><img src="{% static 'assets/images/resource/image-2.jpg' %}" alt=""></figure>
                        <a href="https://www.youtube.com/watch?v=Fvae8nxzVz4" class="play-now" data-fancybox="gallery" data-caption=""><i class="icon la la-play" aria-hidden="true"></i><span class="ripple"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Us -->

<!-- Recent Section -->
<section class="property-section">
    <div class="auto-container">
        <div class="sec-title">
            <span class="title">FIND YOUR HOUSE IN YOUR CITY</span>
            <h2>RECENT PROPERTIES</h2>
        </div>

        <div class="row">
            <!-- Property Block -->
            <div class="property-block col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <div class="single-item-carousel owl-carousel owl-theme">
                            <figure class="image"><img src="{% static 'assets/images/resource/property-1.jpg' %}" alt=""></figure>
                            <figure class="image"><img src="{% static 'assets/images/resource/property-2.jpg' %}" alt=""></figure>
                            <figure class="image"><img src="{% static 'assets/images/resource/property-3.jpg' %}" alt=""></figure>
                        </div>
                        <span class="for">FOR SALE</span>
                        <span class="featured">FEATURED</span>
                        <ul class="info clearfix">
                            <li><a href="properties.html"><i class="la la-calendar-minus-o"></i>2 Years Ago</a></li>
                            <li><a href="agent-detail.html"><i class="la la-user-secret"></i>Ghaly Morca</a></li>
                        </ul>
                    </div>
                    <div class="lower-content">
                        <ul class="tags">
                            <li><a href="property-detail.html">Apartment</a>,</li>
                            <li><a href="property-detail.html">Bar</a>,</li>
                            <li><a href="property-detail.html">House</a>,</li>
                        </ul>
                        <h3><a href="property-detail.html">Single House Near Orland Park.</a></h3>
                        <div class="lucation"><i class="la la-map-marker"></i> Orland Park, IL 35785, Chicago, United State</div>
                        <ul class="property-info clearfix">
                            <li><i class="flaticon-dimension"></i> 356 Sq-Ft</li>
                            <li><i class="flaticon-bed"></i> 4 Bedrooms</li>
                            <li><i class="flaticon-car"></i> 2 Garage</li>
                            <li><i class="flaticon-bathtub"></i> 3 Bathroom</li>
                        </ul>
                        <div class="property-price clearfix">
                            <div class="read-more"><a href="property-detail.html" class="theme-btn">More Detail</a></div>
                            <div class="price">$ 13,65,000</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Property Block -->
            <div class="property-block col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="{% static 'assets/images/resource/property-2.jpg' %}" alt=""></figure>
                        <span class="for">FOR SALE</span>
                        <span class="featured">FEATURED</span>
                        <ul class="option-box">
                            <li><a href="{% static 'assets/images/resource/property-1.jpg' %}" class="lightbox-image" data-fancybox="property"><i class="la la-camera"></i></a></li>
                            <li><a href="#"><i class="la la-heart"></i></a></li>
                            <li><a href="#"><i class="la la-retweet"></i></a></li>
                        </ul>
                        <ul class="info clearfix">
                            <li><a href="properties.html"><i class="la la-calendar-minus-o"></i>2 Years Ago</a></li>
                            <li><a href="agent-detail.html"><i class="la la-user-secret"></i>Ghaly Morca</a></li>
                        </ul>
                    </div>
                    <div class="lower-content">
                        <ul class="tags">
                            <li><a href="property-detail.html">Apartment</a>,</li>
                            <li><a href="property-detail.html">Bar</a>,</li>
                            <li><a href="property-detail.html">House</a>,</li>
                        </ul>
                        <h3><a href="property-detail.html">Apartment Morden 1243, W No.</a></h3>
                        <div class="lucation"><i class="la la-map-marker"></i> Orland Park, IL 35785, Chicago, United State</div>
                        <ul class="property-info clearfix">
                            <li><i class="flaticon-dimension"></i> 356 Sq-Ft</li>
                            <li><i class="flaticon-bed"></i> 4 Bedrooms</li>
                            <li><i class="flaticon-car"></i> 2 Garage</li>
                            <li><i class="flaticon-bathtub"></i> 3 Bathroom</li>
                        </ul>
                        <div class="property-price clearfix">
                            <div class="read-more"><a href="property-detail.html" class="theme-btn">More Detail</a></div>
                            <div class="price">$ 13,65,000</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Property Block -->
            <div class="property-block col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="{% static 'assets/images/resource/property-3.jpg' %}" alt=""></figure>
                        <span class="for">FOR SALE</span>
                        <span class="featured">FEATURED</span>
                        <div class="video-link"><a href="https://www.youtube.com/watch?v=Fvae8nxzVz4" data-fancybox="gallery" data-caption=""><i class="icon la la-play-circle" aria-hidden="true"></i></a></div>
                        <ul class="info clearfix">
                            <li><a href="properties.html"><i class="la la-calendar-minus-o"></i>2 Years Ago</a></li>
                            <li><a href="agent-detail.html"><i class="la la-user-secret"></i>Ghaly Morca</a></li>
                        </ul>
                    </div>
                    <div class="lower-content">
                        <ul class="tags">
                            <li><a href="property-detail.html">Apartment</a>,</li>
                            <li><a href="property-detail.html">Bar</a>,</li>
                            <li><a href="property-detail.html">House</a>,</li>
                        </ul>
                        <h3><a href="property-detail.html">Great Home for Single fmaily</a></h3>
                        <div class="lucation"><i class="la la-map-marker"></i> Orland Park, IL 35785, Chicago, United State</div>
                        <ul class="property-info clearfix">
                            <li><i class="flaticon-dimension"></i> 356 Sq-Ft</li>
                            <li><i class="flaticon-bed"></i> 4 Bedrooms</li>
                            <li><i class="flaticon-car"></i> 2 Garage</li>
                            <li><i class="flaticon-bathtub"></i> 3 Bathroom</li>
                        </ul>
                        <div class="property-price clearfix">
                            <div class="read-more"><a href="property-detail.html" class="theme-btn">More Detail</a></div>
                            <div class="price">$ 13,65,000</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="load-more-btn text-center">
            <a href="#" class="theme-btn btn-style-two">Load More</a>
        </div>
    </div>
</section>
<!--End Property Section -->

<!-- Process Section -->
 <section class="process-section" style="background-image: url({% static 'assets/images/background/9.jpg' %});">
    <div class="auto-container">
        <div class="sec-title light">
            <span class="title">FIND YOUR HOUSE IN YOUR CITY</span>
            <h2>WORK PROCESS</h2>
        </div>

        <div class="row">
            <!-- Process Block -->
            <div class="process-block col-lg-3 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="icon-box"><span class="la la-user-secret"></span></div>
                    <h4><a href="about.html">Meet Our Agent</a></h4>
                    <div class="text">You Meet our agent and decuse your property Demand</div>
                </div>
            </div>

            <!-- Process Block -->
            <div class="process-block col-lg-3 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="icon-box"><span class="la la-building-o"></span></div>
                    <h4><a href="about.html">Choose Location</a></h4>
                    <div class="text">You Meet our agent and decuse your property Demand</div>
                </div>
            </div>

            <!-- Process Block -->
            <div class="process-block col-lg-3 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="icon-box"><span class="la la-map-marker"></span></div>
                    <h4><a href="about.html">Select Your Property</a></h4>
                    <div class="text">You Meet our agent and decuse your property Demand</div>
                </div>
            </div>

            <!-- Process Block -->
            <div class="process-block col-lg-3 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="icon-box"><span class="la la-file-text"></span></div>
                    <h4><a href="about.html">Confirmation</a></h4>
                    <div class="text">You Meet our agent and decuse your property Demand</div>
                </div>
            </div>
        </div>
    </div>
</section>    
<!--End Process Section -->

<!-- Agents Section -->
<div class="agents-section">
    <div class="auto-container">
        <div class="sec-title">
            <span class="title">MEET OUR PROFESSIONAL AGENTS</span>
            <h2>MEET OUR AGENTS</h2>
        </div>

        <div class="agents-carousel owl-carousel owl-theme">
            <!-- Agent Block -->
            <div class="agent-block">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="agent-detail.html"><img src="images/resource/agent-1.jpg" alt=""></a></figure>
                    </div>
                    <div class="info-box">
                        <h4 class="name"><a href="agent-detail.html">MAGDA ANOMA</a></h4>
                        <span class="designation">Real Estate Agent</span>
                        <ul class="social-links">
                            <li><a href="#"><i class="la la-facebook-f"></i><span>Facebook</span></a></li>
                            <li><a href="#"><i class="la la-twitter"></i><span>Twitter</span></a></li>
                            <li><a href="#"><i class="la la-google-plus"><span>google+</span></i></a></li>
                            <li><a href="#"><i class="la la-dribbble"></i><span>Dribbble</span></a></li>
                            <li><a href="#"><i class="la la-pinterest"></i><span>Pinterest</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Agent Block -->
            <div class="agent-block">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="agent-detail.html"><img src="images/resource/agent-2.jpg" alt=""></a></figure>
                    </div>
                    <div class="info-box">
                        <h4 class="name"><a href="agent-detail.html">BADOY GHALY</a></h4>
                        <span class="designation">Real Estate Agent</span>
                        <ul class="social-links">
                            <li><a href="#"><i class="la la-facebook-f"></i><span>Facebook</span></a></li>
                            <li><a href="#"><i class="la la-twitter"></i><span>Twitter</span></a></li>
                            <li><a href="#"><i class="la la-google-plus"><span>google+</span></i></a></li>
                            <li><a href="#"><i class="la la-dribbble"></i><span>Dribbble</span></a></li>
                            <li><a href="#"><i class="la la-pinterest"></i><span>Pinterest</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Agent Block -->
            <div class="agent-block">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="agent-detail.html"><img src="images/resource/agent-3.jpg" alt=""></a></figure>
                    </div>
                    <div class="info-box">
                        <h4 class="name"><a href="agent-detail.html">LORA PTIRAYTO</a></h4>
                        <span class="designation">Real Estate Agent</span>
                        <ul class="social-links">
                            <li><a href="#"><i class="la la-facebook-f"></i><span>Facebook</span></a></li>
                            <li><a href="#"><i class="la la-twitter"></i><span>Twitter</span></a></li>
                            <li><a href="#"><i class="la la-google-plus"><span>google+</span></i></a></li>
                            <li><a href="#"><i class="la la-dribbble"></i><span>Dribbble</span></a></li>
                            <li><a href="#"><i class="la la-pinterest"></i><span>Pinterest</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Agent Block -->
            <div class="agent-block">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="agent-detail.html"><img src="images/resource/agent-1.jpg" alt=""></a></figure>
                    </div>
                    <div class="info-box">
                        <h4 class="name"><a href="agent-detail.html">MAGDA ANOMA</a></h4>
                        <span class="designation">Real Estate Agent</span>
                        <ul class="social-links">
                            <li><a href="#"><i class="la la-facebook-f"></i><span>Facebook</span></a></li>
                            <li><a href="#"><i class="la la-twitter"></i><span>Twitter</span></a></li>
                            <li><a href="#"><i class="la la-google-plus"><span>google+</span></i></a></li>
                            <li><a href="#"><i class="la la-dribbble"></i><span>Dribbble</span></a></li>
                            <li><a href="#"><i class="la la-pinterest"></i><span>Pinterest</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Agent Block -->
            <div class="agent-block">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="agent-detail.html"><img src="images/resource/agent-2.jpg" alt=""></a></figure>
                    </div>
                    <div class="info-box">
                        <h4 class="name"><a href="agent-detail.html">BADOY GHALY</a></h4>
                        <span class="designation">Real Estate Agent</span>
                        <ul class="social-links">
                            <li><a href="#"><i class="la la-facebook-f"></i><span>Facebook</span></a></li>
                            <li><a href="#"><i class="la la-twitter"></i><span>Twitter</span></a></li>
                            <li><a href="#"><i class="la la-google-plus"><span>google+</span></i></a></li>
                            <li><a href="#"><i class="la la-dribbble"></i><span>Dribbble</span></a></li>
                            <li><a href="#"><i class="la la-pinterest"></i><span>Pinterest</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Agent Block -->
            <div class="agent-block">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="agent-detail.html"><img src="images/resource/agent-3.jpg" alt=""></a></figure>
                    </div>
                    <div class="info-box">
                        <h4 class="name"><a href="agent-detail.html">LORA PTIRAYTO</a></h4>
                        <span class="designation">Real Estate Agent</span>
                        <ul class="social-links">
                            <li><a href="#"><i class="la la-facebook-f"></i><span>Facebook</span></a></li>
                            <li><a href="#"><i class="la la-twitter"></i><span>Twitter</span></a></li>
                            <li><a href="#"><i class="la la-google-plus"><span>google+</span></i></a></li>
                            <li><a href="#"><i class="la la-dribbble"></i><span>Dribbble</span></a></li>
                            <li><a href="#"><i class="la la-pinterest"></i><span>Pinterest</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Agents Section -->

<!-- News Section -->
<section class="news-section-two">
    <div class="auto-container">
        <div class="sec-title">
            <span class="title">ALL ABOUT LATEST WILLIA UPDATES</span>
            <h2>NEWS & STORIES</h2>
        </div>

        <div class="row">
            <!-- News Block Two -->
            <div class="news-block-two col-lg-6 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="blog-detail.html"><img src="{% static 'assets/images/resource/news-4.jpg' %}" alt=""></a></figure>
                    </div>

                    <div class="content-box">
                        <h4><a href="blog-detail.html">Resources that we thought you may find useful property</a></h4>
                        <div class="text">Alternatively if you have a specific service or questio in mind please don’t hesitate to ...</div>
                        <ul class="info clearfix">
                            <li><i class="la la-user"></i> Khuram Arshad</li>
                            <li><i class="la la-calendar"></i> 21 Feb, 2018</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- News Block Two -->
            <div class="news-block-two col-lg-6 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="blog-detail.html"><img src="{% static 'assets/images/resource/news-5.jpg' %}" alt=""></a></figure>
                    </div>

                    <div class="content-box">
                        <h4><a href="blog-detail.html">Resources that we thought you may find useful property</a></h4>
                        <div class="text">Alternatively if you have a specific service or questio in mind please don’t hesitate to ...</div>
                        <ul class="info clearfix">
                            <li><i class="la la-user"></i> Khuram Arshad</li>
                            <li><i class="la la-calendar"></i> 21 Feb, 2018</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- News Block Two -->
            <div class="news-block-two col-lg-6 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="blog-detail.html"><img src="{% static 'assets/images/resource/news-6.jpg' %}" alt=""></a></figure>
                    </div>

                    <div class="content-box">
                        <h4><a href="blog-detail.html">A new residential project launched Find the right property</a></h4>
                        <div class="text">Alternatively if you have a specific service or questio in mind please don’t hesitate to ...</div>
                        <ul class="info clearfix">
                            <li><i class="la la-user"></i> Khuram Arshad</li>
                            <li><i class="la la-calendar"></i> 21 Feb, 2018</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- News Block Two -->
            <div class="news-block-two col-lg-6 col-md-6 col-sm-12">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><a href="blog-detail.html"><img src="{% static 'assets/images/resource/news-7.jpg' %}" alt=""></a></figure>
                    </div>

                    <div class="content-box">
                        <h4><a href="blog-detail.html">A new residential project launched Find the right property</a></h4>
                        <div class="text">Alternatively if you have a specific service or questio in mind please don’t hesitate to ...</div>
                        <ul class="info clearfix">
                            <li><i class="la la-user"></i> Khuram Arshad</li>
                            <li><i class="la la-calendar"></i> 21 Feb, 2018</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End News Section -->

<!-- Testimonial Section -->
<section class="testimonial-section" style="background-image: url({% static 'assets/images/background/8.jpg' %});">
    <div class="auto-container">
        <div class="sec-title light">
            <span class="title">Testimonials</span>
            <h2>what clients says</h2>
        </div>

        <div class="testimonial-carousel owl-carousel owl-theme">
            <!-- Testimonial Block -->
            <div class="testimonial-block">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="{% static 'assets/images/resource/thumb-3.jpg' %}" alt=""></figure>
                    </div>
                    <div class="content-box">
                        <h4 class="name">John Doe</h4>
                        <span class="city">New York</span>
                        <div class="text">Leverage agile frameworks to provide a robust synopsis for high level overviews. Organically grow the holistic world view of disruptive diversity.</div>
                        <div class="rating">
                            <span class="la la-star"></span><span class="la la-star"></span><span class="la la-star"></span><span class="la la-star"></span><span class="la la-star-o"></span>
                        </div>
                        <span class="icon la la-quote-left"></span>
                    </div>
                </div>
            </div>

            <!-- Testimonial Block -->
            <div class="testimonial-block">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="{% static 'assets/images/resource/thumb-4.jpg' %}" alt=""></figure>
                    </div>
                    <div class="content-box">
                        <h4 class="name">Olivia Evie</h4>
                        <span class="city">New York</span>
                        <div class="text">Leverage agile frameworks to provide a robust synopsis for high level overviews. Organically grow the holistic world view of disruptive diversity.</div>
                        <div class="rating">
                            <span class="la la-star"></span><span class="la la-star"></span><span class="la la-star"></span><span class="la la-star"></span><span class="la la-star-o"></span>
                        </div>
                        <span class="icon la la-quote-left"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Testimonial Section -->

<!--Clients Section-->
<section class="clients-section style-two">
    <div class="auto-container">
        <div class="sponsors-outer">
            <!--Sponsors Carousel-->
            <ul class="sponsors-carousel owl-carousel owl-theme">
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'assets/images/clients/1.png' %}" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'assets/images/clients/2.png' %}" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'assets/images/clients/3.png' %}" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'assets/images/clients/4.png' %}" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'assets/images/clients/1.png' %}" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'assets/images/clients/2.png' %}" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'assets/images/clients/3.png' %}" alt=""></a></figure></li>
                <li class="slide-item"><figure class="image-box"><a href="#"><img src="{% static 'assets/images/clients/4.png' %}" alt=""></a></figure></li>
            </ul>
        </div>
    </div>
</section>
<!--End Clients Section-->

<!-- Call Back Section -->
<section class="call-back-section" style="background-image: url({% static 'assets/images/background/12.jpg' %});">
    <div class="auto-container">
        <div class="sec-title">
            <span class="title">CALL TO ACTION</span>
            <h2>REQUEST CALL BACK</h2>
        </div>

        <div class="request-form">
            <form >
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                        <input type="text" name="username" placeholder="Name" required="">
                    </div>
                    
                    <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                        <input type="email" name="email" placeholder="Email" required="">
                    </div>
                    
                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                        <textarea name="message" placeholder="Massage"></textarea>
                    </div>
                    
                    <div class="col-lg-6 col-md-12 col-sm-12 form-group">
                        <button class="theme-btn btn-style-two" type="submit" name="submit-form">Submit Now</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!--End Call Back Section -->

{% endblock %}