{% extends 'main.html' %}

{% block content %}

{% load static %}

<style>
    .imageTop img {
        width: 100% !important;
        height: 500px !important;
        /* object-fit: cover !important; */
        display: grid !important;
    }

    .imageDown img {
        width: 95% !important;
        height: 100px !important;
        /* object-fit: cover !important; */
        display: grid !important;
    }

    .post-thumb img {
        width: 100% !important;
        height: 90px !important;
        /* object-fit: cover !important; */
        display: grid !important;
    }
</style>

<!--Page Title-->
<section class="page-title" style="background-image:url({% static 'assets/images/background/16.jpg' %});">
    <div class="auto-container">
        <div class="inner-container clearfix">
            <h1>Property Detail</h1>
            <ul class="bread-crumb clearfix">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li>Property Detail</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->

<!-- Sidebar Page Container -->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="upper-info-box">
            <div class="row">
                <div class="about-property col-lg-8 col-md-12 col-sm-12">
                    <h2>{{property.title}}</h2>
                    <div class="location"><i class="la la-map-marker"></i> {{property.location}}</div>
                    <ul class="property-info clearfix">
                        <li><i class="flaticon-dimension"></i> {{property.size}} Sq-Ft</li>
                        <li><i class="flaticon-bed"></i> {{property.bedroom}} Bedrooms</li>
                        <li><i class="flaticon-car"></i> {{property.garage}} Garage</li>
                        <li><i class="flaticon-bathtub"></i> 3 Bathroom</li>
                    </ul>
                </div>
                <div class="price-column col-lg-4 col-md-12 col-sm-12">
                    <span class="title">Start From</span>
                    <div class="price">Ksh {{property.rent}}</div>
                    <!-- <span class="status">For Sale</span> -->
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <!--Content Side-->
            <div class="content-side col-lg-8 col-md-12 col-sm-12">
                <div class="property-detail">
                    <div class="upper-box">
                        <div class="carousel-outer">
                            <ul class="imageTop image-carousel owl-carousel owl-theme">
                                <li><a href="{{property.imageOne.url}}" class="lightbox-image"
                                        title="Image Caption Here">
                                        <img src="{{property.imageOne.url}}" alt=""></a></li>

                                <li><a href="{{property.imageTwo.url}}" class="lightbox-image"
                                        title="Image Caption Here">
                                        <img src="{{property.imageTwo.url}}" alt=""></a></li>

                                <li><a href="{{property.imageThree.url}}" class="lightbox-image"
                                        title="Image Caption Here">
                                        <img src="{{property.imageThree.url}}" alt=""></a></li>

                                <li><a href="{{property.imageFour.url}}" class="lightbox-image"
                                        title="Image Caption Here">
                                        <img src="{{property.imageFour.url}}" alt=""></a></li>

                                <li><a href="{{property.imageFive.url}}" class="lightbox-image"
                                        title="Image Caption Here">
                                        <img src="{{property.imageFive.url}}" alt=""></a></li>
                            </ul>

                            <ul class="imageDown thumbs-carousel owl-carousel owl-theme">
                                <li><img src="{{property.imageOne.url}}" alt=""></li>
                                <li><img src="{{property.imageTwo.url}}" alt=""></li>
                                <li><img src="{{property.imageThree.url}}" alt=""></li>
                                <li><img src="{{property.imageFour.url}}" alt=""></li>
                                <li><img src="{{property.imageFive.url}}" alt=""></li>
                            </ul>
                        </div>
                    </div>

                    <div class="lower-content">
                        <h4>Description</h4>
                        <p>
                        <blockquote>{{property.description |linebreaks}}</blockquote>
                        </p>
                    </div>

                    <!-- Property Features -->
                    <div class="property-features">
                        <h4>Essential Information</h4>
                        <ul class="list-style-one">
                            <li>Price: Ksh {{property.prise}}</li>
                            <li>For: Rent</li>
                            <li>Property Types: Resident</li>
                            <li>Area: {{property.size}}sq-Meters</li>
                            <li>Country: Kenya </li>
                            <li>City: {{property.location.city}}</li>
                            <li>Garages: {{property.garage}} </li>
                            <li>Bedrooms: {{property.bedroom}}</li>
                            <li>Bathrooms: 3</li>
                        </ul>
                    </div>

                    <!-- Property Features -->
                    <div class="property-features">
                        <h4>Home Amenities</h4>
                        <ul class="list-style-one">
                            {% if property.alarm_security %}
                            <li>Alarm Security</li>
                            {% endif %}
                            {% if property.basketball_court %}
                            <li>Basketball court</li>
                            {% endif %}
                            {% if property.gym %}
                            <li>Gym</li>
                            {% endif %}
                            {% if property.swimming_pool %}
                            <li>Swimming Pool</li>
                            {% endif %}
                            {% if property.fireplace %}
                            <li>Fireplace</li>
                            {% endif %}
                            {% if property.garden %}
                            <li>Garden</li>
                            {% endif %}
                            <!--  -->
                            {% if property.gated_community %}
                            <li>Gated-Community</li>
                            {% endif %}
                            {% if property.own_compound %}
                            <li>Own-Compound</li>
                            {% endif %}

                        </ul>
                    </div>

                    <!-- Nearest Places -->
                    <div class="nearest-places">
                        <h4>Near By Place</h4>
                        <div class="outer-box clearfix">
                            <div class="places-column">
                                <ul class="places-list">
                                    <li>
                                        <strong>City Center</strong>
                                        <div class="text">{{property.location.city}}</div>
                                    </li>

                                    <li>
                                        <strong>School</strong>
                                        <div class="text">{{property.location.school}} </div>
                                    </li>

                                    <!-- <li>
                                        <strong>Restaurant</strong>
                                        <div class="text"><b>Spectra Resturant & Cafe, </b>Verso Street, Lundon, UK <span>2.5 km</span></div>
                                        <div class="text"><b>Mojesty Resturant, </b>Carrer De Verso Street, Lundon, UK<span>2.5 km</span></div>
                                    </li> -->

                                    <li>
                                        <strong>Bank</strong>
                                        <div class="text">{{property.location.bank}} </div>
                                    </li>

                                    <li>
                                        <strong>Airport</strong>
                                        <div class="text">
                                            {{property.location.airport}}</div>
                                    </li>

                                    <!-- <li>
                                        <strong>Bar</strong>
                                        <div class="text"><b>Verna Plaza Bar</b>Verso Street, Lundon, UK <span>2.5 km</span></div>
                                    </li> -->
                                </ul>
                            </div>

                            <div class="map-column">
                                <div class="map-outer">
                                    <!--Map Canvas-->

                                    <!-- <iframe src="{{property.location.mapLink}}" width="100%" height="250" frameborder="0" style="border:0" allowfullscreen>
                                        </iframe> -->
                                    <iframe
                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d127669.0935088573!2d35.26921205!3d0.5117565!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x178101ae37f9f535%3A0xe2db337df0fc0820!2sEldoret!5e0!3m2!1sen!2ske!4v1671707830439!5m2!1sen!2ske"
                                        width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Review Box -->
                    <div class="review-area">
                        <!--Reviews Container-->
                        <div class="reviews-container">
                            <h4>Reviews For Costomer</h4>
                            <!--Reviews-->
                            {% for comment in propertycomments %}
                            <article class="review-box">
                                <div class="thumb-box">
                                    <figure class="thumb"><img
                                            src="{% static 'assets/images/resource/review-thumb-1.jpg' %}" alt="">
                                    </figure>
                                </div>
                                <div class="content-box">
                                    <div class="name">{{comment.name}}</div>
                                    <span class="date"><i class="la la-calendar"></i> {{comment.created_at|timesince}}: Ago</span>
                                    <div class="rating">
                                   
                                        {% if comment.rating >= 5 %}
                                        <span class="la la-star"></span>
                                        <span class="la la-star"></span>
                                        <span class="la la-star"></span>
                                        <span class="la la-star"></span>
                                        <span class="la la-star"></span>
                                      {% elif comment.rating >= 4 %}
                                        <span class="la la-star"></span>
                                        <span class="la la-star"></span>
                                        <span class="la la-star"></span>
                                        <span class="la la-star"></span>
                                      {% elif comment.rating >= 3 %}
                                        <span class="la la-star"></span>
                                        <span class="la la-star"></span>
                                        <span class="la la-star"></span>
                                      {% elif comment.rating >= 2 %}
                                        <span class="la la-star"></span>
                                        <span class="la la-star"></span>
                                      {% elif comment.rating >= 1 %}
                                        <span class="la la-star"></span>
                                      {% endif %}
                                    </div>

                                    <div class="text">{{comment.body}}</div>
                                </div>
                            </article>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Review Comment Form -->
                    <div class="review-comment-form">
                        <h4>Leave A Review</h4>
                        <form method="post">
                            {% csrf_token %}
                            <div class="row">
                                {% for field in commentform %}
                                <div class="form-group col-lg-6 col-md-12 col-sm-12">
                                    <label class="fw-bolder">{{field.label}}:</label>
                                   
                                    {{field}}
                                </div>
                                {% endfor %}

                                <div class="form-group col-lg-6 col-md-6 col-sm-6 text-right">
                                    <button class="theme-btn btn-style-one" type="submit" name="submit-form">Submit
                                        now</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!--Sidebar Side-->
            <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                <aside class="sidebar default-sidebar">

                    <!-- Agent Widget -->
                    <div class="sidebar-widget agent-widget">
                        <div class="sidebar-title">
                            <h2>About Agent</h2>
                        </div>
                        <div class="widget-content">
                            <div class="image-box">
                                <figure class="image"><img src="{{property.agent.profile.image.url}}" alt=""></figure>
                            </div>
                            <div class="info-box">
                                <h4 class="name">{{property.agent}}</h4>
                                <span class="designation">Real Estate Agent</span>
                                <ul class="contact-info">
                                    <li><strong>Phone:</strong>{{property.agent.profile.phone_number}}</li>
                                    <li><strong>Email:</strong> <a
                                            href="mailto:{{property.agent.email}}">{{property.agent.email}}</a></li>
                                    <!-- <li><strong>Address:</strong> 8542 El Paseo Grande New Yark</li> -->
                                </ul>
                                <div class="follow-us">
                                    <ul class="social-links">
                                        <li class="link">Follow Us:</li>
                                        <li><a href="#"><i class="la la-facebook"></i></a></li>
                                        <li><a href="#"><i class="la la-twitter"></i></a></li>
                                        <li><a href="#"><i class="la la-google-plus"></i></a></li>
                                        <li><a href="#"><i class="la la-dribbble"></i></a></li>
                                        <li><a href="#"><i class="la la-pinterest"></i></a></li>
                                    </ul>
                                </div>
                                <div class="btn-box">
                                    <a href="{% url 'agent' property.agent.id %}" class="theme-btn btn-style-one">VIEW
                                        PROFILE</a>
                                    <!-- <a href="{% url 'agent' property.agent.id %}" class="theme-btn btn-style-six">MY PROPERTIES</a> -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Agent Form Widget -->
                    <div class="sidebar-widget agent-from-widget">
                        <div class="sidebar-title">
                            <h2>Contact Agent</h2>
                        </div>
                        <div class="widget-content">
                            <div class="agent-form">
                                <form method="post" action="{% url 'agent' property.agent.id %}">
                                    {% csrf_token %}
                                    <div class="row">
                                        {% for field in reviews %}
                                        <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                            <label>{{field.label}}</label>
                                            {{field}}
                                        </div>
                                        {% endfor %} 
                                    <div class="form-group">
                                        <button class="theme-btn btn-style-one" type="submit" name="submit-form">Submit
                                            now</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <!-- Categories -->
                    <div class="sidebar-widget categories">
                        <div class="sidebar-title">
                            <h2>Category Properties</h2>
                        </div>
                        <ul class="cat-list">
                            {% for category in categories %}
                            <li><a href="{% url 'listings' %}">{{category.name}}
                                    <span>{{category.property_set.all.count}}</span></a></li>
                            {% endfor %}
                        </ul>
                    </div>

                    <!-- Recent Blogs -->
                    <div class="sidebar-widget recent-properties">
                        <div class="sidebar-title">
                            <h2>Recent Blogs</h2>
                        </div>
                        <div class="widget-content">
                            <!-- post -->
                            {% for blog in blogs %}
                            <article class="post">
                                <div class="post-thumb">
                                    <a href="{% url 'blog' blog.id %}">
                                        <img src="{{blog.image.url}}" alt="">
                                        <!-- <span class="status">Rent</span> -->
                                    </a>
                                </div>
                                <span class="location">{{blog.created_at|timesince}} :ago</span>
                                <h3><a href="{% url 'blog' blog.id %}">{{blog.title}}</a></h3>
                                <div class="price">Comments: 0</div>
                            </article>
                            {% endfor %}
                        </div>
                    </div>


                </aside>
            </div>
        </div>
    </div>
</div>
<!-- End Sidebar Container -->

<!--Clients Section-->
<section class="clients-section style-three">
    <div class="auto-container">
        <div class="sponsors-outer">
            <!--Sponsors Carousel-->
            <ul class="sponsors-carousel owl-carousel owl-theme">
                <li class="slide-item">
                    <figure class="image-box"><a href="#"><img src="{% static 'assets/images/clients/1.png' %}"
                                alt=""></a></figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><a href="#"><img src="{% static 'assets/images/clients/2.png' %}"
                                alt=""></a></figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><a href="#"><img src="{% static 'assets/images/clients/3.png' %}"
                                alt=""></a></figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><a href="#"><img src="{% static 'assets/images/clients/4.png' %}"
                                alt=""></a></figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><a href="#"><img src="{% static 'assets/images/clients/1.png' %}"
                                alt=""></a></figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><a href="#"><img src="{% static 'assets/images/clients/2.png' %}"
                                alt=""></a></figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><a href="#"><img src="{% static 'assets/images/clients/3.png' %}"
                                alt=""></a></figure>
                </li>
                <li class="slide-item">
                    <figure class="image-box"><a href="#"><img src="{% static 'assets/images/clients/4.png' %}"
                                alt=""></a></figure>
                </li>
            </ul>
        </div>
    </div>
</section>
<!--End Clients Section-->

<!-- script -->
<script src="{% static 'assets/js/jquery.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/jquery-ui.js' %}"></script>
<script src="{% static 'assets/js/jquery.fancybox.js' %}"></script>
<script src="{% static 'assets/js/owl.js' %}"></script>
<script src="{% static 'assets/js/wow.js' %}"></script>
<script src="{% static 'assets/js/isotope.js' %}"></script>
<script src="{% static 'assets/js/mixitup.js' %}"></script>
<script src="{% static 'assets/js/appear.js' %}"></script>

{% endblock %}